[2016-08-25 18:05] Gmousse opened #2 "Error: Cannot find module 'babel-runtime/core-js/object/is'"
We can't import dataframe-js when babel is not required.

[2016-08-25 18:19] Gmousse commented on #2
Fixed in v0.2.9 https://github.com/Gmousse/dataframe-js/tree/0.2.9

[2016-08-25 18:19] #2 closed

[2016-08-27 15:16] Gmousse opened #3 "DataFrame.sortBy() doesn't work correctly with missing values (NaN, undefined)"

[2016-08-31 20:29] Gmousse opened #4 "Implement DataFrame.groupBy() on multiple columns"

[2016-08-31 21:24] Gmousse opened #5 "SQL module"
A new module to request DataFrames with SQL syntax.

[2016-09-02 11:15] Gmousse commented on #3
Indeed, when you sort a mixed types column, sortBy has an strange behaviour.

[2016-09-02 11:16] Gmousse commented on #4
Adding the possibility to df.groupBy('col1', 'col2')

[2016-09-02 11:19] Gmousse opened #6 "DataFrame.sortBy() can't handle mixed types values"
linked with #3

[2016-09-02 11:20] Gmousse commented on #3
linked with #6

[2016-09-02 11:25] Gmousse opened #7 "DataFrame.show() failed when column names are too long"

[2016-09-02 12:07] Gmousse opened #8 "New api for DataFrame.groupBy() provided by GroupedDataFrame"
A new api for groupBy will coming soon.

.groupBy() now returns a GroupedDataFrame object.

GroupedDataFrame provides a groupBy on multiple columns ( #4 ) and a method .aggregate() used to apply a function on each group.

example: `df.groupBy('column1', 'column2').aggregate(group => group.count())`

The aggregation returns a DataFrame with columns: ['column1', 'column2', 'aggregation']

[2016-09-03 21:07] Gmousse commented on #8
The new api will be more accurate while applying groupBy on NaN and undefined (Object.is instead of ===)

[2016-09-04 15:50] Gmousse opened #9 "Adding DataFrame.toCollection()"
This methods returns the DataFrame as collection of dictionnaries (Object):
[code]

[2016-09-04 15:52] Gmousse opened #10 "Adding Stat.sum()"
Adding the sum() method into the Stat module

[2016-09-04 15:54] Gmousse opened #11 "Modifying DataFrame.toArray() to return only one column as Array."
Adding an optional parameter columnName allowing to return only one column as Array.

[2016-09-04 15:57] Gmousse opened #12 "Modifying DataFrame.rename()."
DataFrame.rename() will now allow to rename only one column.
DataFrame.renameAll() will assume old .rename() functionality.

[2016-09-23 22:55] #3 closed

[2016-09-23 22:55] #4 closed

[2016-09-23 22:55] #5 closed

[2016-09-23 22:55] #6 closed

[2016-09-23 22:55] #7 closed

[2016-09-23 22:55] #8 closed

[2016-09-23 22:55] #9 closed

[2016-09-23 22:55] #10 closed

[2016-09-23 22:55] #11 closed

[2016-09-23 22:55] #12 closed

[2016-11-09 23:18] DeliciousPickle opened #13 "Documentation error?"
In the API documentation, the example you give for groupBy is this:

When I try to do this it throws the error: "Uncaught (in promise) TypeError: group.sql.sum is not a function(...)".

I experimented with using "group.**stat**.sum" instead, and that seems to work.

It could be that your documentation is wrong, and you need to change _group.sql.sum_ to _group.stat.sum_.  Or is it the case that I s

[2016-11-09 23:34] Gmousse commented on #13
Hey @DeliciousPickle, you are right, it's a documentation error.
As you expected you have to use the `.sum()` method from the Stat module, not SQL. My bad ^^.
I will fix the doc right now.
Thx

[2016-11-09 23:51] Gmousse commented on #13
Ok, I have updated the documentation (web and markdown).
Thanks @DeliciousPickle !

[2016-11-09 23:51] #13 closed

[2016-12-03 21:07] lmeyerov opened #14 "Columnname whitespace removal is surprising"
Currently, the first whitespace in a column name is removed. I think this is a minor bug in that it was intended to be a global replace. However, there are two deeper design issues here:

* Can whitespace removal be dropped? This makes reuse with externally defined column names error-prone. AFAICT, only the constructor needs that modification.

* If column renaming is not dropped, can we expose th

[2016-12-03 23:42] Gmousse commented on #14
Hello.
Thanks for submitting this interesting issue.

I have add this white space removal (honestly I forgot its existence) when I have developed the SQL module, due to different bugs while parsing column names with spaces.
But anyways it's a bug (and a miss-conception ? 👎 ) and the DataFrame object should not handle this type of data treatments for his modules.

Tomorrow I will create a pr and th

[2016-12-04 02:49] lmeyerov commented on #14
Thanks. Feel free to use this edit: https://github.com/graphistry/dataframe-js

I couldn't get it to pass the test suite some reason, so worth checking that.

[2016-12-04 02:53] lmeyerov opened #15 "df.union() with mismatching column names"
When a.union(b) is called and a, b have distinct column names, I'd expect the concat to still work, while currently, it triggers an exception.

In the interim, I'm wrapping with:

[code]

[2016-12-04 09:04] Gmousse commented on #15
Hey
Can you send me the error raised by your code?

[2016-12-04 12:01] Gmousse commented on #14
I have merged your fork on a pull request. I will close it this night if I can.

[2016-12-04 13:15] Gmousse commented on #15
Ok thanks to your issue I have detected a bug in .union.

Indeed it has the normal behaviour, it checks if the 2 dataframes and if they haven't it throws an exception.
BUT if the 2 dataframes have the same schema (same columnNames) but not in the same order, it doesn't throw an exception but the result is wrong.
Waiting a hotfix (this night) you can quickly fix it by applying a b2.restructure(a2.l

[2016-12-06 21:33] Gmousse commented on #14
@lmeyerov The Hotfix 1.1.2 is published (git or npm) with the patch on DataFrame and on SQL.
The issue can now be closed thanks to you.

[2016-12-06 21:33] #14 closed

[2016-12-06 21:35] Gmousse commented on #15
@lmeyerov The hotfix 1.1.2 resolves the column order bug on .union().
Please confirm me that your problem is solved.
Thanks

[2016-12-16 20:46] Gmousse commented on #15
@lmeyerov Any news on your issue? Is it solved by the version 1.1.2?

[2016-12-27 19:03] #15 closed

[2017-02-25 17:07] cailiang9 opened #17 "request for pivot and stat.describe function."

[2017-02-25 20:07] Gmousse commented on #17
Thanks for this submission. @cailiang9

About .describe(), there is already DataFrame.stat.stats() which gives a similar return than [spark describe method](http://spark.apache.org/docs/1.6.2/api/python/pyspark.sql.html#pyspark.sql.DataFrame.describe).
But the name is not well defined and I think to add an alias (describe is perfect).

About .pivot() I was thinking about this method since few week

[2017-03-03 18:37] Gmousse commented on #17
I m working on the pivot method.

Here an example of the api:
[code]

[code]

Available this week end.

[2017-03-03 22:26] dragoljub opened #18 "Are all data stored Row-Major? Meaning computation on columns is slower?"
Hi. This code looks very interesting and exciting. :+1:

Are there any plans to implement column-based data store as the underlying data container? ie Col.js vs Row.js I'm curious what motivated you to store row-based data structures rather than column-based which are generally fixed types and could offer more compression if needed via categorical columns etc.

Probably for UI tasks you are intere

[2017-03-05 13:55] Gmousse commented on #18
Hi @dragoljub,

Your question is really interesting.
As you said, the DataFrame object is not really column-based data structure but it's actually row-based.

To write this codebase I had two options:
- Row-based: Define a DataFrame as a collection of rows having a schema. It's used by Spark (or other functional, immutable, big data structures). The API should be functional, based on maps and redu

[2017-03-05 15:45] dragoljub commented on #18
Thanks for the detailed response! I'll play with the code some more to better understand the usage patterns.

[2017-03-20 18:26] Gmousse commented on #17
The pivot method and the melt method are now available in the 1.2.0.
I close the issue.

[2017-03-20 18:26] #17 closed

[2017-03-20 18:29] #18 closed

[2017-04-05 22:08] PaulMest opened #19 "Join logic incorrect?"
First of all, thanks for open sourcing this library. I was just building one of my own and saw that this one existed and thought I'd give it a try.

## TL;DR: The only join that works correctly is `inner`.
See below for more details and samples from Python Pandas

## More details

I see that `dataframe-js` has 5 join types: `inner`, `outer`, `full`, `left`, and `right`. Usually `full` and `outer`

[2017-04-05 22:15] PaulMest commented on #19
Here is a sample test that you can add to your test suite to verify the underlying logic is fixed.

[code]

[2017-04-06 05:48] Gmousse commented on #19
Hey. Thanks for your issue.
Indeed it seems that something is broken with the joins... I see why, my bad.

I will take a look in few hours to patch this

[2017-04-06 18:29] Gmousse commented on #19
Hey @PaulMest, I have created a PR #20 containing the modifications on join methods (and a randomly created .diff method) and new tests.

Please take a look and try this (branch hotfix/1.2.2 if you want to pull it).

[2017-04-06 20:23] Gmousse commented on #19
Thanks again @PaulMest for this user feedback.
The hotfix was merged and can now be pulled with npm.

Stay tuned with the project and contribute (with PRs) if you want !

[2017-04-06 20:23] #19 closed

[2017-04-26 07:39] wustevens opened #21 "dataframe.js and dataframe-min.js bug"
hello Gmousse , maybe i found a bug about import data frame.js .

when i import dataframe.js , i join two data frame , performance is too slower , caught browser core dump,

when ii import dataframe-min.js , program give a error "TypeError: t expected as one of [DataFrame], not as a object | t " .

i think , maybe it is a bug .

Gmousse , thank you for a powerful js package to support DataFrame .

[2017-04-26 07:43] Gmousse commented on #21
Hi @wustevens,
Can you give me some details about the bug ? (error log and the way you import the lib)
Thank you

[2017-04-26 07:48] wustevens commented on #21
hi @Gmousse , when i import dataframe-min.js

<script src="https://cdn.rawgit.com/Gmousse/dataframe-js/master/dist/dataframe-min.js"></script>

and then ,

result =  ( new dfjs.DataFrame( symbol , _.keys( symbol[ 0 ] ) ) ).join( result , [ 'exchange' , 'symbol' ] , 'inner' ) ;

system give me a error !

[Error] Error: t expected as one of [DataFrame], not as a object | t.
n@https://cdn.rawgit.com/

[2017-04-26 07:56] wustevens commented on #21
let result = _.reduce( indicators , function( prev , item , name ) {
				// 过滤 数据

				let data = _.filter( item.data , row => ( row[ name ] >= Number( item.min ) && row[ name ] <= Number( item.max ) ) );

				// 做 关联处理

				if ( data === null || data.length <= 0 ) {
					return prev;
				} else if ( prev === undefined || prev === null ) {
					return new dfjs.DataFrame( data , _.keys( data[ 0 ] )

[2017-04-26 07:57] Gmousse commented on #21
@wustevens I will investigate in few hours.
If the bug doesn't appear with the non-minify version, it's maybe due to a webpack missconfiguration.

thanks for this report

[2017-04-26 08:08] wustevens commented on #21
@Gmousse , thanks for your work .

[2017-04-26 08:51] wustevens commented on #21
hi , @Gmousse

when i import dataframe.js , non-min package , join operate performance is slow .
i join left df ( rows is 3 ) and right df ( rows is 205 ), but  no return df , always running .

@Gmousse , Do you think where is a problem with my program?

Here is my code :

< "object"

< Array (2) = $2
0 {delist_date: "Mon, 01 Jan 1900 00:00:00 GMT", exchange: "SH", ipo_date: "Mon, 01 Jan 1900 00:0

[2017-04-26 21:19] Gmousse commented on #21
@wustevens hi
Indeed, I have realized some tests about joins, indeed it's really slow.
I m little busy this time but I plan to fix this performance issue this week-end.

For the -min issue, it's probably due to the uglify plugin and the checktype module I use.
I will take a look tomorrow .

[2017-04-27 03:10] wustevens commented on #21
hi @Gmousse , Looking forward to your solution , Thanks you.

[2017-05-16 21:38] hainessss opened #22 "Get Row by index"
How would you get a row by its index, or perform an action on an individual row?  Only way i can see is give a row an ID and filter by it then map over it.

[2017-05-18 17:07] Gmousse commented on #22
Hi @hainessss .
for now the DataFrame hasn't good ways to modify only one row (I work on a new version where rows have index).

If you want to modify rows one by one, it's maybe better to switch on array (toArray, toCollection) and then work by reference (which isn't possible with the dataframe-js).

To select only one row you can also use the .find method.
To modify only one row you can use the .

[2017-06-13 18:20] hainessss commented on #22
Yes, thank you, @Gmousse. That api looks good.

[2017-07-09 14:28] Gmousse opened #23 "CheckType is broken on minified build."
Related to one bug of the issue #21

Indeed, with the minified build, checktypes on Class is just broken and block some methods.

[2017-07-09 14:29] Gmousse commented on #21
hi @wustevens.
Sorry to be late, I couldn't work on this project the last 2 months.

Yesterday I have fixed your issues and publish them on the tag  `1.2.3`.
The join method worked but had a strange behavior leading on performance issues.
Now it should work correctly and faster than ever.

For your issues on dataframe-min, It's related with type checking and uglification.
I have created a specific

[2017-07-09 17:19] Gmousse commented on #23
Fixed by using a custom Uglifyjs configuration in webpack.config.js.
The -min build is now working.

[2017-07-09 17:19] #23 closed

[2017-07-09 17:20] Gmousse commented on #21
@wustevens The dataframe-min.js build is repaired (effective from the 1.2.3 and available). It was a uglifyjs relative issue and I have repaired it by a custom configuration in my webpack.config.js. #23

Please, be free to use the -min bundle.

[2017-07-09 17:20] #21 closed

[2017-09-30 16:48] blakewest opened #24 "fromCSV not seeming to work with local files on node"
Hi,
I needed some more performant handling of large CSV files for a project I'm working on. So I'm giving dataframe-js a spin, but I can't seem to even load my csv files. I'm just trying to load a local CSV file, but keep getting an error that seems to suggest I need to be running a server to serve the files. Which seems kind of ridiculous, and also not what the docs say. Here's some output:

[cod

[2017-09-30 17:44] Gmousse commented on #24
Hi @blakewest,
Thanks for reporting this issue.

In order to handle both http urls and system paths I have used d3 (which is good to handle csvs, json, ...) but it's little tricky and have some limitations (it use a browser equivalent file system).

Indeed, the use of "~/" (equivalent for "/home/youruser/") is not supported by d3 (and even by nodejs fs module I guess).
However, the absolute path s

[2017-09-30 17:47] Gmousse commented on #24
@blakewest uh I have look your absolute path "Users/blakewest/code/project1/raw_data/pro_record_db.csv" but it doesn't look like an absolute path (an absolute path start from the root dir \ on windows or / on unix system). If you are on linux, use pwd (or event $PWD) to get your absolute path to your current directory.

Can you check this point ?

[2017-09-30 18:34] blakewest commented on #24
@Gmousse you're right. I had done `pwd` actually, but forgot to put the `/` at the beginning. When I did that, the file did load, though it took a really long time. Do you have tools for dealing with large CSV's? It's not clear from the docs what kind of performance or space savings you would get from using dataframe-js. I assume immutability helps on this, but I'm curious if you have benchmarks o

[2017-11-15 16:24] Jefftopia opened #25 "Smaller bundle"
DataFrame JS is massive. I'm interested in getting a smaller bundle by excluding features I don't use. In my project, I only need groups, sorts, filters, and aggregates - an in-memory grid, in other words.

Your library is one of the better grids, but I dislike getting all the module baggage with it, such as SQL, and Matrix.

Can you look into using inheritance/mixins/whatever to product different

[2017-11-15 18:25] #24 closed

[2017-11-15 18:37] Gmousse commented on #25
Hi @Jefftopia. You're right the bundle is really huge.
The different modules such as SQL, Matrix or even Stats are already stand-alone class but are included to the DataFrame class before exporting it. But it can be easy to split them completely in the next dataframe-js feature.

Did you use this library by npm ? or directly in the browser ?

I see different ways to make dataframe-js smaller (with

[2017-11-15 18:46] Jefftopia commented on #25
@Gmousse I'll leave implementation up to you, but yes, I would either split them off into smaller repos like d3, or have a "monorepo" that exports core, stat, dataframe-sql, etc, like ngrx/platform.

Personally, I use es6 imports and webpack/angular-cli to bundle.

I'm wondering if adding modules can be done with an exported decorator.

[2017-11-16 14:29] Jefftopia opened #26 "Find keep-fnames work-around"
keep-fnames will apply to all classes. If a developer is working in a large code-base, this could add a ton of bloat to their minified output.

I haven't been able to look more into this issue yet, I hope to when I get time. One strategy I wonder about is simply adding a string property to each class identifying it rather than relying on the constructor name.

As always, I'm open to other thoughts

[2017-11-16 14:58] Gmousse commented on #26
Hi @Jefftopia,
Indeed keep-fnames was a bit tricky and was added to keep checktypes decorators working with user defined types.
I suggest to remove keep-fnames and try to find an alternative (other library) to these checkTypes decorators (or just remove them if NODE_ENV=production).

However, to check the identity of an instance (DataFrame vs GroupedDataFrame), it's possible to use:
`(new DataFram

[2017-11-16 15:11] Jefftopia commented on #26
@Gmousse Thank you for the tip and for acknowledging interest in enhancing the developer experience here.

I have a couple thoughts.

First, The checkTypes decorator is nifty, but do we really need run-time type checking? I think that for javascript either the developer should know the API, which you've documented, or, we should simply create a TypeScript definition file. I develop in TS and would

[2017-11-16 16:06] Gmousse commented on #26
No. I m agree, it's not required. I will see to replace it in a next version. (It was planned but I had fixed this issue with keep-fnames due to a lack of personal time). I will try to see how to resolve this issue this week-end.

Oh, thanks for the trick. I will use it for my next projects. However, it will be useless to use this option if I remove checkTypes decorators (my main option here).

Th

[2017-11-19 21:28] Gmousse commented on #26
@Jefftopia Be free to test if keepfname is no longer a problem on the linked pr.

I will integrate the code in a larger feature in some days.

[2017-11-20 13:40] Jefftopia commented on #26
@Gmousse I will try to look over this soon, tonight or tomorrow. Busy holiday week in the US (Thanksgiving). Thank you. It looks good.

[2017-11-20 13:51] Jefftopia opened #28 "Question: How to apply nested group-bys?"
How can I achieve the following structure? (Nested group-by).

| Color |  State | Name | Qty | Value |
| ----- | ---- | ---- | ---- | ---- |
| Red |
|     |  VA |
|	|	|	Jeff | 2	|	$10 |
|	|	| John | 1 |$5 |
|	| PA |
|	|	|	Rachel | 4| $20 |
| Blue | |
| |	VA |
|	|	|	Robert |	5	| $100 |
|	| PA |
|	|	| Rebecca | 3	| $40 |

I have now something like the following:

[code]

One issue I have is that `fo

[2017-11-20 15:35] Gmousse commented on #28
@Jefftopia Hi, have you resolved your computation issue ?

If you need to iterate on each groups of a groupedDataFrame you can use [.listCollection](https://gmousse.gitbooks.io/dataframe-js/doc/api/groupedDataframe.html#tocollection) (similar to `[...yourGroupedDataFrame]`).

It's also possible to groupBy inside an aggregate: `df.groupBy(...).aggregate(gdf => gdf.groupBy(...).aggregate(...))` or t

[2017-11-20 16:26] Jefftopia commented on #28
Thanks, I resolved the issue.

[2017-11-20 16:26] #28 closed

[2017-11-21 09:58] Gmousse commented on #25
Hi @Jefftopia, I have test some things in order to see how reduce the bundle.
Indeed, it's already possible. See this example:

I have an index.js in a fake project that I bundle (npm run build) with a preconfigured webpack.

----

If import dataframe-js as usual (the whole package):

index.js
[code]
Then I build the fake project and look at the bundle size:
[code]
----

If I need only the datafra

[2017-11-21 13:40] Jefftopia commented on #25
@Gmousse Thanks for the solution. Since the original problem is solved, feel free to close.

This is really about interface design. I dislike importing the two libs then calling the static method, but it works.

[2017-11-22 09:35] #25 closed

[2017-11-22 14:37] Jefftopia commented on #26
@Gmousse Can you propagate these changes to the lib directory so I can be more confident in testing?

[2017-12-12 20:53] Jefftopia commented on #26
@Gmousse Can you merge the PR?

[2017-12-13 07:58] Gmousse commented on #26
@Jefftopia Uh sorry I was really busy (and I forgot this PR :D).
It will be effective today.

[2017-12-13 08:26] Gmousse commented on #26
Merged in 1.2.5 (published).
Thanks for your issue. Have fun

[2017-12-13 08:26] #26 closed

[2017-12-15 18:48] Jefftopia opened #29 "Sort-by multiple columns"
SortBy should take in multiple columns, ordered left to right by decreasing "priority". When a column to the left has the same value, the column to the right should tie-break it.

I hope to have time to investigate and create a PR for this soon. If you already have an implementation in mind, so much the better!

Example: `myDf.sortBy('Test A Score', 'Test B Score', 'Test C Score');`

| Student | T

[2018-01-16 18:06] martinv13 opened #30 ".listColumns() does not contain columns added with row.set()"
Hello,
It could be useful if `.listColumns()` were updated to give the actual columns names, including those added with `.map(row => row.set("test",1))` for instance (I would like to use it with dynamic columns names not known in advance).
Instead, it gives only the columns names given to the constructor.
A quick and dirty fix is to convert the DF to collection and  back to DF, but it is not reall

[2018-01-16 19:15] Gmousse commented on #30
hi @martinv13
I have an idea for a quick fix. I will see tonight.

[2018-01-16 21:39] Gmousse commented on #30
@martinv13 I have created a simple fix.
I will try to increase performances and schema check in few days in a next feature.

Can you validate the PR #31 (by pulling and testing the branch or by looking at unit tests) ?
Anyways I will publish this hotfix tomorrow in 1.2.7.

[2018-01-16 21:40] Gmousse commented on #30
However it's now also work with Row.delete.

[2018-01-16 21:41] Gmousse commented on #29
Hey, really interesting. I want to see this :D

[2018-01-17 05:56] Jefftopia commented on #29
@Gmousse Yes, I have a working version locally, just need to add test coverage...stay tuned.

[2018-01-20 11:31] martinv13 commented on #30
Hi @Gmousse,
Sorry for the delay
PR #31 works perfectly as you described it and does the job
Thanks!

[2018-01-20 11:36] Gmousse commented on #30
ok I will publish it today.
Thank you for the test and the issue.

[2018-01-20 11:48] Gmousse commented on #30
PR merged and released in 1.2.7

[2018-01-20 11:48] #30 closed

[2018-01-22 09:20] kushukla opened #33 "Aggregate multiple columns at once using reduce and aggregate in GroupedDataFrame"
While having multiple values returned from reduce function is very straight forward. Like:

[code]
Output:
[code]

If I try to use similar reduce function on GroupedDataFrame like below:

[code]

As expected the output is a JSON object stored in a column, which can further be mapped into separate columns.
[code]
However it would be better if each of the variables in JSON can be expanded as a separ

[2018-01-22 12:57] Gmousse commented on #33
Hi @kushukla,
It could be a good idea to implement an aggregation generating multiple columns (instead of one).
I will see how add this feature without breaking things.

Waiting this release you can already do that (in a non-user-friendly way) like that:

With dataframe-js >= 1.2.7 :
[code]

With dataframe-js > 1.2.7 :
[code]

Stay tuned about this new feature :D.

[2018-01-22 23:14] kushukla commented on #33
Thanks! @Gmousse, this is perfect. Looking forward to new features :)

[2018-01-23 14:24] CMCDragonkai opened #34 "Performance of queries (indexes on columns)"
Is there a way to establish indexes on columns to speed up access queries based on where conditions?

[2018-01-23 14:24] CMCDragonkai commented on #34
I'm looking at other database libraries in JS, but none of them are immutable or fully persistent.

[2018-01-23 17:45] Gmousse commented on #34
Hi @CMCDragonkai,
Currently there is no indexation on DataFrame.
But I m working on it for a next big big release with other massive optimizations (currently dataframe-js is stable but not well optimized).

I will create issues with the next features I will implement in order to allow you (and other users) to follow these.

[2018-01-23 19:23] Gmousse opened #35 "Change immutability system"
Currently when we use a DataFrame method, it creates a deep copy of the previous instance.
But it results on slow computations.

We have to see how a lazier immutable system could improve speed of the library.

[2018-01-23 19:29] Gmousse opened #36 "Lazy computations and optimization layer"
When a user chains methods on a DataFrame, it creates a new DataFrame on each method.

[code]

It 's slow.
It could be interesting to create a computation stack (with some optimizations) in order to only compute things when necessary. It should be computed when the user REALLY wants a new DataFrame or when he wants to collect its results in a different form (toCollection or other methodes).

[code

[2018-01-24 00:31] CMCDragonkai commented on #34
Cool, for now I'll be investigating datascript.

[2018-01-24 18:59] #29 closed

[2018-01-25 17:33] #33 closed

[2018-01-30 22:06] Rob-ModernAnalytics opened #38 "Question - Does this read an actual python pandas dataframe?"
Thanks!

Rob

[2018-01-30 22:38] Gmousse commented on #38
Hey @Rob-ModernAnalytics,

Indeed, if you have pandas DataFrame you can save it in json or csv in your python application, then you can load it with dataframe-js.

Example1:

In python:
[code]

then in js:
[code]

Example2 (with an api in python with flask, and a frontend in js):

[code]

[code]

I hope these example answer your question.

[2018-01-30 22:40] Rob-ModernAnalytics commented on #38
Thank you for the quick reply!

Rob

[2018-02-18 19:14] #38 closed

[2018-02-19 13:41] martinv13 opened #39 "Drop duplicates on a subset of columns"
Is it possible to filter out duplicates only on a subset of columns, keeping for instance the first encountered value for other columns (as `.dropDuplicates()` does not take any argument I guess it is not)?
Alternatively, would it be easier to add a `mult="first"` argument like in R's data.table in left joins in order to  join only with the first matching row and discard other matching rows?
Thank

[2018-02-19 14:24] Gmousse opened #40 "Make columns inference faster"
For now (1.2.7), to infer DataFrame schema (when columns are not given by the user) is pretty slow.
We should infer schema from some rows with a fast table scan.

[2018-02-19 14:25] Gmousse opened #41 "Can create empty DataFrame (without passing columns)"

[2018-02-19 14:59] Gmousse commented on #39
hi @martinv13.
Indeed there is not easy ways to achieve that.
I work on a next release today, I will look for a fast implementation.

[2018-02-19 15:23] #41 closed

[2018-02-19 15:24] #40 closed

[2018-02-23 03:35] willkara opened #43 "Any plan on supporting TypeScript with a Definitions.ts file?"
Trying to use it in my AngularCLI project with TypeScript.

I tried importing with yarn and even adding the CDN version but it's either asking for the types or not working at all. Maybe a types file can be created for https://github.com/DefinitelyTyped/DefinitelyTyped

Perhaps there is another way to import it?

Would love it if someone could point me in the right direction :)

[2018-02-24 10:56] martinv13 commented on #39
Hi @Gmousse,
I created a PR #44 related to this issue, if you want to check it out.

[2018-02-24 19:05] Gmousse commented on #43
Hi @willkara,

I haven't knowledges about typescript (and how a js module can be used on it).

I will do some researches and tell some friends.

If a configuration file is required, i will create a pull request. Stay tuned

[2018-02-25 18:41] Gmousse commented on #43
@willkara I have created a dts file (using dts-gen).
It seems to work.

Can you try to install the PR branch using npm or yarn (example: `npm install git+https://github.com/Gmousse/dataframe-js.git#feature/support-typescript`) and test it ?

If it works I will merge (and it will be in the incoming release).
Thanks !

[2018-02-26 20:30] willkara commented on #43
@Gmousse Thanks for being so receptive! I'll give it a shot once I get home :)

[2018-02-27 23:19] Gmousse commented on #39
Closes with #44.
It will be released in 1.3.0 (
Thanks !

[2018-02-27 23:19] #39 closed

[2018-03-01 03:42] willkara commented on #43
Still trying to get it to work correctly but haven't had enough time to really put some decent time into it.

Also, you might want to look into [DefinitleyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped) until you can think of making it es2016 compatible with modules.

Just as an FYI, I tried using it outside of this project and it's working amazingly well! :)

Thanks!

[2018-03-01 21:18] willkara commented on #43
I can confirm it works!

[2018-04-05 04:23] jonathanrhodes opened #46 "max() over a column of all-negative values returns zero"
[code]

It appears that `max()` is initialized to 0, so it will never return a negative value: https://github.com/Gmousse/dataframe-js/blob/master/src/modules/stat.js#L36-L40.

[2018-04-08 10:16] Gmousse commented on #46
Hey @jonathanrhodes .

Sorry for this newby bug, I fix it quickly.

[2018-04-08 13:33] #46 closed

[2018-04-08 13:33] Gmousse commented on #46
@jonathanrhodes Closed and resolved in 1.2.8 (and in next 1.3.0)

[2018-04-09 16:48] jonathanrhodes commented on #46
Thanks for the quick fix!

Jonathan Rhodes <https://www.linkedin.com/in/jonathanmrhodes> | VP of
Engineering
*metricstory.com <https://www.metricstory.com/> | @Metricstory
<https://twitter.com/MetricStory>*

On Sun, Apr 8, 2018 at 6:33 AM, Guillaume Mousnier <notifications@github.com

[2018-04-16 09:20] marvinwu opened #47 "how to add a new module while keeping the existing default module ?"
Thanks for this excellent repo,

I am trying to add a new module, and want to keep the existing default modules.

I know we can do this by reimporting the defaults:
DataFrame.setDefaultModules(SQL, Stat, FakeModule)

but seems the Stat ,SQL and matrix module is not exported, how can I get them and reimport it when setting the default module ?

[2018-04-16 17:03] Gmousse commented on #47
Hi, @marvinwu

If I have well understood, you have two solutions:
- You want to add a module to the default modules (and keep other default modules):

[code]

- You want to add a module to the current DataFrame instance (or to its copies) and you want to keep default modules:

[code]

But this way will be deprecated in the next version (>= 1.3.0) by introducing the `options` parameter:

[code]

[2018-04-17 05:10] marvinwu commented on #47
Hi, @Gmousse

         Thanks much for the speedy reply  ! Thats **exactly** what we are trying to do, I tried out the setDefaultModules syntax and It work perfectly, looking forward to the next release

[2018-04-17 11:26] #47 closed

[2018-04-18 16:36] rjrivero opened #48 "DataFrame.groupBy slow when the number of groups is high"
Thanks for such an useful library. I am using it to process DataFrames over 150 thousand rows and 10 thousand groups, and I am having performance problems with the current implementation of groupBy.

I am sending a Pull request that changes the GroupedDataFrame._groupBy function to loop over the source DataFrame just once, instead of once per group. This change makes my jobs complete in seconds in

[2018-04-20 15:37] Gmousse commented on #48
Hi @rjrivero,

Indeed dataframe-js has some methods badly optimized.

Thanks for this wonderful pr, I will look to do the review tommorrow (I was in business travel).

I can integrate your pr (if valid) in the next release.

[2018-04-26 18:00] Gmousse commented on #48
Thank you !
This will be published with other PR this night.

[2018-04-26 18:00] #48 closed

[2018-05-02 14:27] cjohns38 opened #50 "Dataframe from file examples"
I'm familiar with data frames through R and python so I was looking for something similar in JS.  I ran into this module.  The problem I'm having is that when I try and read in a local JS file it's returning a promise not an actual DF.  If I run the following a DF doesn't really seem to be created.

[code]

If I run this the DF is displayed so I know it's not a read error but something about how t

[2018-05-02 20:07] Gmousse commented on #50
Hi,

Indeed it seems you are a beginner in javascript.

To be clear, a Promise (like a callback on d3-request or simply ajax calls) is asynchronous and non-blocking. The whole javascript is async during I/O. Indeed, when you make a call to the filesystem (except for fs.readFileSync), a database or to an http(s) endpoint, the rest of the code will be triggered (in the .then) when the result comes.

[2018-05-02 20:07] #50 closed

[2018-05-02 22:44] rjrivero commented on #48
Glad to be helpful. The new implementation of _groupBy slows down my jobs again, I think the spread operator "...groups" called on each step of the "reduce" function makes the operation roughly O(N*N/2). I will be pushing a new PR to make it O(N) again.

[2018-05-10 17:16] wiichog opened #52 "Group By Does not work"
Hi,
When I try to do a group by this error shows

TypeError: Cannot read property 'apply' of undefined
    at \node_modules\dataframe-js\lib\modules\sql\sqlEngine.js:224:30
    at sqlParser (\node_modules\dataframe-js\lib\modules\sql\sqlEngine.js:244:12)
    at Function.request (\node_modules\dataframe-js\lib\modules\sql\index.js:34:47)
    at app.js:263:39
    at Layer.handle [as handle_request]

[2018-05-10 17:39] Gmousse commented on #52
Hi @wiichog

In order to see if the bug is due to the sql module or the groupby itself, can you try to run your computation without the sql module (by using the Dataframe methods)?

Thanks

[2018-05-14 22:32] fingul opened #53 "When dataframe.count()===1 shuffle returns empty dataframe."
When dataframe.count()===1 shuffle returns empty dataframe.

[2018-05-19 15:12] Gmousse commented on #53
Indeed this case isn't handled correctly.
I will prepare a fix.

[2018-05-22 10:43] fgutmann opened #54 "join on empty dataframe returns an array instead of an empty dataset"
When joining with an empty dataframe the result is an array.
I'd expect it to be an empty dataframe.

Example:
[code]

The empty array is quite unhandy in situations where `filter()` is followed by `join()`.
What are your thoughts on this?

[2018-05-22 16:56] Gmousse commented on #54
Hum it's clearly a bug.
thanks @fgutmann I will see for a fix when I can find some free time.

[2018-05-24 20:28] Gmousse commented on #54
It was fixed on this PR.

[2018-05-24 20:30] Gmousse commented on #53
It was fixed on this PR but I will continue to .reduce issues with empty DataFrame or with DataFrame having only one element.

I hope a release for this hotfix on monday.

[2018-05-24 20:32] Gmousse opened #56 "Fix uses of .reduce on empty arrays or on arrays with only one element."
Linked with #54 and #53

[2018-05-25 13:44] fgutmann commented on #54
Thanks for being that fast 👍
A release would would be awesome too!

[2018-05-30 17:23] #53 closed

[2018-05-30 17:29] Gmousse commented on #56
Fixed and published in 1.3.2

[2018-05-30 17:29] #56 closed

[2018-05-30 17:30] Gmousse commented on #54
Fixed and published in 1.3.2

[2018-05-30 17:30] #54 closed

[2018-06-21 11:24] marvinwu opened #57 "filter returns empty data frame with no columns if result is empty"
[code]
output:
|  |
---

now it returns a empty df with no columns, will it be better to return an df with original columns but no rows ?

ie: returns
| c1        | c2        | c3        | c4        |
------------------------------------------------

it creates problem when the df later do joining with other dataframe if no column df is returned

[2018-06-21 17:29] Gmousse commented on #57
Hi,
Indeed it should returns an empty dataframe with the same schema.

I will fix it

[2018-07-01 01:49] falconair opened #58 "Easier iteration over rows"
Hi, very nice project!
I'm using this API in a web application (vue.js) where I need to filter some rows, select some columns and iterate over the results. When I call toDict() on the dataframe and iterate over the results, it returns the columns in order. I expected it to return rows, one by one.

Edit: I noticed that df.toArray() does return rows as array of values. I expected toDict() to also i

[2018-07-01 03:08] #58 closed

[2018-07-01 19:48] Gmousse commented on #52
Closes after more than 1 month of inactivity

[2018-07-01 19:48] #52 closed

[2018-07-01 19:49] Gmousse commented on #58
you can also iterate with a for loop or just use [...yourDf :D]

[2018-07-27 14:21] ollita7 opened #59 "Result f sql is always getting undefined"
Hi, I tried to query using sql but the result is always undefined.

`
var DataFrame = require('dataframe-js').DataFrame;
const df = new DataFrame(pls, columns);
df.sql.register('tmp2', true);
const test = DataFrame.sql.request("SELECT * FROM tmp2");
`

[2018-07-30 09:33] Gmousse commented on #59
Hi,
thank you for the report @ollita7
I will investigate.

The sql part of dataframe-js is a bit experimental, I will see why it returns nothing.

[2018-07-30 14:08] ollita7 commented on #59
Thanks!
Let me know if I can help you with something.

[2018-08-03 15:18] Gmousse commented on #59
hi @ollita7
I have tried just a simple code:

[code]

And it works.

Can you give me your nodejs and dataframe version ?

[2018-08-06 18:03] ollita7 commented on #59
Thanks @Gmousse.
I tried again and it is working

[2018-08-14 17:56] ollita7 opened #60 "Use columns with different names on join"
Im trying to use join and i want to specify the columns that i want to join between dfs.

`df.join(df2, 'column1', 'full')`

I asume if i do the following join that column1 name exist in both dfs rigth?
Is it posible to join specifing the columns foreach dfs?

For example I want to join df with df2 on df.column1 = df.column3

Thanks!

[2018-08-14 18:35] #59 closed

[2018-08-14 18:40] Gmousse commented on #60
Hi @ollita7,
Indeed it s not possible right now.
I will add this in improvments.

However you can use `withdf.rename(youroldcolumn, yourjoincolumn) ` awaiting a next release.

[2018-09-18 13:16] nichabalie opened #61 "Can't load dataframe.js"
Hello,
I wan't to use the file dataframe.js in the dist folder but I have the following error:
`TypeError: DataFrame is not a constructor`

My code is the following
[code]
(I have no problem if I replace the first line by this one:
`DataFrame = require('./dataframe-js/lib').DataFrame;`
but I need to install babel-runtime with npm.)

Do you know what is the problem ?
Thanks

[2018-09-18 14:15] Gmousse commented on #61
Hi @nichabalie,

Indeed the dist folder is currently used only into the browser (build with webpack).
Like that, you can't use it in nodejs with a require.

If you want an easy way to work with dataframe-js (with its own dependencies), you can use `npm install dataframe-js` or even `yarn install dataframe-js`. It will install the library correctly. Then you can use the library with `require('dataf

[2018-09-18 15:56] nichabalie commented on #61
Thank you @Gmousse  for your response, that resolved my problem.
I don't know if it's normal but to make it works I had to use the command `npm install babel-runtime` too.

[2018-09-18 15:56] #61 closed

[2018-09-20 11:19] ivanlucky22 opened #62 "Function sortBy throws MixedTypeError if value in sorted column is null"
Hi team,

I'm using dataframe-js v1.3.2 and facing an error when trying to sort dataframe by column that contains null. Please see the following example:
[code]
Please let me know if you are going to fix this in the nearest release. Or please share some thoughts on a workaround.
PS. in the project value really needs to stay null so please do not propose change null to zero :)

[2018-09-20 11:53] Gmousse opened #63 "babel-runtime is not installed correctly"
https://github.com/Gmousse/dataframe-js/issues/61#issuecomment-422449965

[2018-09-20 11:54] Gmousse commented on #61
Hi @nichabalie,
I have created #63 for your issue with babel-runtime.
Thank you for using dataframe-js :D

[2018-09-20 12:02] Gmousse commented on #62
Hi !
Thank you for using dataframe-js.

Ahah don't worry :d .

The reason why I have introduced the MixedTypeError (#6 #3) is due to some strange behaviors when we compare something to another type of values (which generally brokes the sorted results).

Generally, it's better to handle only one data type by column.

I will see to introduce an alternative method (like .dangerousSortBy) to handle th

[2018-09-25 13:00] kishor-dabi opened #64 "module not found"
when using dataframe-js it give warning:

WARNING in ./node_modules/dataframe-js/lib/reusables.js
Module not found: Error: Can't resolve 'fs' in '/home/kishoredabi/Desktop/inv_master/core-web-inventory/core-web/node_modules/dataframe-js/lib'

[2018-09-27 20:01] Gmousse commented on #64
Hi @kishor-dabi,
Thanks for using dataframe-js.
This warning occurs when you try to write a file when you are in the browser (where the module fs doesn't exist).
However the warning message seems wrong.

Can you give more informations about your usage ?

[2018-09-28 06:05] kishor-dabi commented on #64
@Gmousse
Thanks for reply,
I am Using dataframe-js in angular 6.
I have install dataframe-js using npm.
"npm i dataframe-js"

but it give warning at compile time and build time

WARNING in ./node_modules/dataframe-js/lib/reusables.js
Module not found: Error: Can't resolve 'fs' in '/home/kishoredabi/Desktop/inv_master/core-web-inventory/core-web/node_modules/dataframe-js/lib'

The version of datafr

[2018-10-31 11:07] pSnehanshu opened #65 "Simplest way to select a column as array?"

[2018-11-06 16:48] Gmousse commented on #65
Hi @pSnehanshu,

Sorry to be late.

I think you can use `yourdf.toArray("yourColumn)`.

Example from the tests:

[code]

Tell me if it's what you need.

[2018-11-07 07:03] pSnehanshu commented on #65
@Gmousse `yourdf.toArray("yourColumn")` doesn't work. I have discovered  that `yourdf.getSeries("yourColumn").toArray()` works.

[2018-11-07 07:09] Gmousse commented on #65
@pSnehanshu can you give me your dataframe-js version ?

Are you sure you are using dataframe-js and not data-forge ? (getSeries is not a dataframe-js method)

[2018-11-07 07:12] pSnehanshu commented on #65
@Gmousse Oops! I'm actually using data-forge. Sorry for the confusion.
The thing is that I initially tried using dataframe-js, but because I couldn't figure out how to do this, I switched to data-forge. This issue was posted before I tried out data-forge.

[2018-11-07 07:13] #65 closed

[2018-11-20 15:47] udos opened #66 "df.filter - possibility to filter not null values"
I have data in which some rows are null

example:
`df = new DataFrame([
  {periodtype: "week", period: null, area: "DE", block: null, source: null},
  {periodtype: "week", period: "front", area: "DE", block: "BS", source: "BEST"}
])`

while it is possible to filter `null` values:
`df.filter({"period": null})`
it is not possible to filter `not null` values:
`df.filter({"period": !null})`

is it pos

[2018-11-20 16:33] Gmousse commented on #66
Hi @udos

Indeed it's not possible for now to use the "not" operator by filtering with a payload (object / dictionnary).
However you can did it with the functional api (https://gmousse.gitbooks.io/dataframe-js/doc/api/dataframe.html#filter):

`df.filter(row => row.get("period") !== null)`

Tell me if it's ok.

[2018-11-21 07:01] udos commented on #66
I missed this possibility :| works like a charm! thank you very much!

[2018-11-21 07:01] #66 closed

[2018-12-07 08:28] udos opened #67 "how to delete rows from a dataframe"
let's say there is the following dataframe

[code]
at some point I would like to remove the following row:
[code]
I hoped something like the following would do it:
[code]
unfortunately not :|

I have the feeling that I am definitely missing something :|

can you point me into the right direction?

[2018-12-07 09:57] udos commented on #67
thanks for the super quick response! very clear :)

unfortuantely

[code]
returns an empty df :| -> sure this is correct?

[2018-12-07 10:03] Gmousse commented on #67
Sorry my predicate was bad :D (I didn't read your need correctly).

That's the good one:

[code]

Here you need to drop all rows having periodtype to week and period to front.
(My first version drop all rows having periodtype to week and / or period to front).

Sorry :D

[2018-12-07 10:07] udos commented on #67
:) no worries! thanks!
ps: with this, consider to change the question difficulty tag to "difficulty: medium", which does not make me look so bad ;)

[2018-12-07 10:07] #67 closed

[2018-12-08 03:31] marvinwu opened #68 "is it possible to have async functions in plugins ?"
[code]

is that possible have a async function in a custom plugin like above ?  so I can call it by

DF.testPlugin.asyncTest.show()

right now it seems not working if i do this.

[2018-12-10 08:54] Gmousse commented on #68
Hi @marvinwu !

I just tried with a simple example (on a nodejs environment):

[code]

It seems to work with a simple fetch call (returning promise).
However in your example, if you want to get the result returned by your async function you need to work in a complete async environment. That's not specific to dataframe-js, that's just related to async await behaviour . Example:

[code]

Tell me if

[2018-12-11 03:09] marvinwu commented on #68
Hi @Gmousse ,

     Appreciate the excellent answer, approach 2 mostly resolve my problem,  an extended question,  can we have async calls inside .map function ?

    The use case is if we do async data transformation for data frame rows, it would be really handy, your approach 2 can do this , but if async call inside .map function works then it would be simply the code a lot.

ie. something like

[2018-12-11 08:06] Gmousse commented on #68
Hi @marvinwu,

I understand the need.
It's not really possible to map with async function and collect the result directly.
You need to return a promise in each iteration, then wait for all.

A simple example: you have urls, you need to map to get the content for each url.

Example with simple js (maybe the best :D):

[code]

Or with dataframe:

[code]

It depends on what you need to do, but nothin

[2018-12-13 03:42] marvinwu commented on #68
Hi @Gmousse,

        Appreciate the help, Now I can see the errors in my earlier code.
        The last dataframe example is exactly what we need and pretty clean and neat too. I doubt we will be needing native async operation if it will introduce breaking change.

        Thank you again for writing this excellent repo , I will close the issue for now.

        Cheers,

               Marvin

[2018-12-13 03:42] #68 closed

[2018-12-27 19:46] jesuskata opened #69 "It is possible to do a .head or .tail as in pandas?"
I am trying do the .head from Pandas, this is the documentation about this:

But I can't find a way to perform this with the `dataframe-js`, BTW an amazing library. We are working with this on an ML project.

[2018-12-28 17:05] jesuskata commented on #69
Thanks for your reply:

I did this to solve my problem on the head conversion (maybe it is a little inneficient):

[code]

I am receiving a dynamic value (_topN_) to change the size of the dataframe (this was sort by one of four options of columns)

[2018-12-28 17:14] Gmousse commented on #69
@jesuskata Feal free to test https://github.com/Gmousse/dataframe-js/tree/feature/sliced-df

It includes, slice, head and tail on the dataframe.

I will add more tests and include it in a new release.

[2018-12-28 17:20] jesuskata commented on #69
Awesome!,

Thanks for your great work!

[2018-12-28 17:20] #69 closed

[2018-12-29 16:39] Gmousse opened #70 "switch tests to ava"

[2019-01-09 17:24] maihannijat commented on #64
I have the same warning while compile. I do not write file at all.

[2019-01-10 17:34] Gmousse commented on #64
hi @maihannijat,
I m currently modifying the library build. It's possible that the new release can fix this.
Can you test with the branch feature/upgrade-babel ?

Thank you

[2019-01-11 13:50] maihannijat commented on #64
Actions take:
1- Removed dataframe-js directory from node_modules
2- Installed with `npm install git+https://github.com/Gmousse/dataframe-js.git#feature/upgrade-babel`
3- Run the development environment

Result:

[2019-01-11 14:01] Gmousse commented on #64
Ok strange... I will continue to look for a solution .

[2019-01-11 14:18] Gmousse commented on #64
After looking a bit, it s related to webpack (or similar) which resolves the require fs at build time and fails even if the require has a try catch block.

Can you try to add:

In your webpack config:
[code]

Or if you can t, in your package.json:
[code]

[2019-01-11 14:35] maihannijat commented on #64
Tried the following and it did not help:
[code]

[2019-01-11 14:48] Gmousse commented on #64
Ok. Can you give me your webpack, node versions, and your webpack config (if possible) to reproduce this error. Indeed, on my side I can build with rollup or webpack without errors.

[2019-01-11 14:53] maihannijat commented on #64
Node version: v10.9.0
I am using with the following project:
[https://github.com/akveo/ngx-admin](https://github.com/akveo/ngx-admin)

You will get the error if you clone and add the package there.

[2019-01-20 11:39] Gmousse commented on #64
After a quick investigation, it seems its related to angular: https://github.com/angular/angular-cli/issues/10681

Indeed, the require is clearly try catched in dataframe-js and should work anyway. It's related to how angular build its bundle.

It seems adding

[code]

in the library package.json resolves your issue (I have no longer warning with your repository).
Could you try to reinstall   "dat

[2019-01-23 14:15] maihannijat commented on #64
The error is gone with above instructions but it broke my project. I get the following error now:

I removed the package and installed the stable version and the project is running but with same warning.

[2019-01-24 17:30] Gmousse commented on #64
Sorry ! js environment can be a torment sometimes.

I will continue to work on it. Stay tuned.

[2019-01-26 15:47] Gmousse commented on #64
Hi @maihannijat

My feature was merged with the develop branch. It works with your project (without the warning).
Feel free to test the develop branch (it can be cool to have feedbacks).

I will close the issue after the release 1.4.0 (in a week).

[2019-01-26 15:48] Gmousse commented on #63
Must be resolved in 1.4.0 (already patched in develop).

[2019-01-26 15:59] Gmousse commented on #70
Must be resolved in 1.4.0 (already patched in develop).

[2019-02-13 21:03] danielgwilson commented on #43
Any plans to get this into DefinitelyTyped?

[2019-02-14 18:46] bluehazetech commented on #64
Any ETA on when 1.4.0 will be released with this fix?

[2019-02-15 20:41] seanlindo opened #71 "[Bug] Why does a join not return all columns?"
If I perform a join on multiple columns, only those columns are available to select afterwards. That's...not how that should work.

[2019-02-17 14:16] Gmousse commented on #64
Hi ! I will try to work on the library to release the 1.4.0 asap. This week I hope.
Could you try the develop branch ? The fix is merged.

[2019-02-17 14:19] Gmousse commented on #43
Hi @danielgwilson,

Sadly I haven't use TypeScript and I don't know its stack or

[2019-02-17 14:20] Gmousse commented on #71
That's strange, I will investigate

[2019-02-17 14:48] Gmousse commented on #22
Resolved, merged on develop. Will be releases as 1.4.0.

[2019-02-17 14:48] #22 closed

[2019-02-17 14:48] #70 closed

[2019-02-17 14:48] #63 closed

[2019-02-17 14:51] Gmousse opened #72 "Need testers for 1.4.0"
Hello !

I need few people to test the release future 1.4.0 from the github repository.

Indeed, I have changed the build (in order to simplify the stack) and I want some volunteers to test the library on their previous codebase, in the browser and in nodejs directly.

To install the branch:

`npm install git+https://github.com/Gmousse/dataframe-js.git#develop`

Thank you all !

[2019-02-17 14:56] Gmousse commented on #57
Fixed, it will be merged in 1.4.0.

Feel free to test it via #72

[2019-02-17 14:56] #57 closed

[2019-02-17 15:00] Gmousse commented on #64
@bluehazetech I m working to deliver the 1.4.0 as soon as possible. Feel free to test the develop branch via #72

[2019-02-17 15:00] #64 closed

[2019-02-17 15:02] Gmousse opened #73 "Any plans to get this into DefinitelyTyped?"
Any plans to get this into DefinitelyTyped?

_Originally posted by @danielgwilson in https://github.com/Gmousse/dataframe-js/issues/43#issuecomment-463369639_

[2019-02-17 15:02] Gmousse commented on #43
closed in favor of #73

[2019-02-17 15:02] #43 closed

[2019-02-17 15:28] Gmousse commented on #73
In order to provide a better type definition file for TypeScript users (asked by @danielgwilson in #43), I need help.
Indeed I m not a TypeScript user, thus I m not the best to resolve this issue.

Feel free to submit a PR ! <3

[2019-03-05 00:15] episodeyang opened #74 "need `DataFrame.dropna` function to remove missing rows"
Would be great if there is a performant way to do this.

The documentation on the API is comprehensive. There exists `drop` and `dropDuplicates`, so `dropna` would probably be a good addition.

Right now I'm achieving this functionality with [filter](https://gmousse.gitbooks.io/dataframe-js/doc/api/dataframe.html#filter):

[code]

Given that this is a pure javascript library, the performance of th

[2019-03-05 17:57] episodeyang commented on #62
@Gmousse guess in this case, all of the scalar types are intact "nullable"s, scalar types that can also be `null`.

[2019-03-05 18:06] episodeyang commented on #62
@Gmousse while you are at it, whether we place the `NaN` values at the *beginning* or the *end* of the sorted DataFrame depends on the user. I was wondering whether this warrants an extra argument, and apparently it does. See `pandas` documentation here:

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html

[code]

[2019-03-05 22:10] episodeyang opened #75 "Converting grouped to DataFrame"
currently there is not a good way to convert a grouped DataFrame to a DataFrame.

The GroupedDataFrame class is also missing `toDict` method.

[2019-03-06 06:45] Gmousse commented on #71
Closed for inactivity. Feel free to reopen with a code sample or examples.

[2019-03-06 06:45] #71 closed

[2019-03-06 06:50] Gmousse commented on #62
Hi @episodeyang,
Indeed it's a good idea. I will see to add an additionnal parameter in order to place null, undefined or NaN values first or last.

I will try it today. I hope a release on the 1.4.0.

Stay tuned.

[2019-03-06 06:54] Gmousse commented on #74
Hi @episodeyang,

Good idea. I will try it and I will publish a proposal here.

[2019-03-06 06:58] Gmousse commented on #75
Hi @episodeyang,

Can you give me a usage example about converting a grouped DataFrame into a DataFrame ?

It could be interesting in order to have a DataFrame having multiple DataFrames in each row, but I don't know if it's not too tricky and really useful.

[2019-03-06 08:00] episodeyang commented on #62
Thanks Gmousse! On type:

just an inspiration: in flow (and in graphQL in this case), nullables are different from their non-nullable counter parts. For example in this error: I was passing in a variable `$metricFiles: [string]` into a field `metricFiles: [string]!`, and got the following error (pardon the brevity of the description).

This is because the type `[string]` and `[string]!` are differ

[2019-03-06 13:05] Gmousse commented on #62
@episodeyang Im working on something like this:

[code]

The algorithm:
- If the value is in undefined, null or NaN => place at first or last (depending on the parameter)
- else if the value is not the same type than previously (and not undefined, null or NaN), throw MixedTypeError
- else the behaviour is the standard sort algorithm

[2019-03-09 21:51] dwoliver opened #76 "SQL of dataframe from csv treats all data as strings"
I am having a problem using SQL syntax to filter numerical values in a dataframe.  The original dataframe is created from a csv file where the values are not represented as strings, but do appear in columns together with non-numeric values before being restructured and transposed to all numeric value columns.  When I use the following SQL
`Tot_Travel_Time <= 11368`
Results: 10234, 10689, 11368
The

[2019-03-11 16:53] Gmousse commented on #76
Hi @dwoliver,

Thank you for your report. I will realize few tests to find the bug.

Also consider to use the js api which is far more stable and optimized than the sql module. Indeed, the sql module will be deprecated soon (by lack of time to maintain it and by lack of feedbacks / users).

Stay tuned.

[2019-03-11 17:07] dwoliver commented on #76
Guillaume,

Thanks for your quick response.  Could you send me an example of using the
.js api for a more complex filter, with combined greater than and less than
on two different columns from the dataframe?  The syntax for this was not
obvious to me.

Thanks,

David

On Mon, Mar 11, 2019 at 12:53 PM Guillaume Mousnier <
notifications@github.com> wrote:

--
David Oliver
Oliver Systems, LLC
366 6th

[2019-03-11 17:22] Gmousse commented on #76
You are welcome.

I have detected the bug. It's related with the query parser which doesn't type correctly numbers when they are used in the filters. e.g: `SELECT * FROM tmp WHERE column1 >= 2 AND column1 <= 1138`.
I work on it.

Here few examples about how use the filters:
`df1.filter( row => row.get("Tot_Travel_Time") >= 8738 && row.get("Tot_Travel_Time") <= 11368 )` Equivalent for `Tot_Travel_T

[2019-03-11 17:33] Gmousse commented on #76
@dwoliver Can you test your code with the following branch ? `feature/fix/issue-76`

`npm install git+https://github.com/Gmousse/dataframe-js.git#feature/fix/issue-76`

[2019-03-11 17:37] dwoliver commented on #76
Guillaume,

I am not in my office, but I will be able to try this later today (i'm in
New York), and I will report back.

Thanks,

David

On Mon, Mar 11, 2019 at 1:33 PM Guillaume Mousnier <notifications@github.com>
wrote:

--
David Oliver
Oliver Systems, LLC
366 6th Street, #2
Brooklyn, NY  11215
718 360-8285
oliversystems.net

[2019-03-13 18:48] Gmousse commented on #74
Hi @episodeyang,
It's done, we have two new methods `.dropMissingValues` and `.fillMissingValues`.

It's on develop and will be released in the 1.4.0 soon.

[2019-03-13 18:49] episodeyang commented on #74
Thanks, this is really awesome!

[2019-03-13 18:49] Gmousse commented on #62
Hi @episodeyang,

It's resolved (the code is on develop) and it will be released in the 1.4.0.

[2019-03-13 19:00] episodeyang commented on #75
Here I have a data frame with keys:
[code]
I want to average those which have the same learning rate and weight decay parameters.

[code]

[2019-03-15 15:12] udos opened #77 "matrix - how to apply matrix computations only to specific columns"
hi,

I have arrays which have the following format:
_note: I simplified this a bit..._

[code]
On this arrays I would like to perform some matrix computations like

[code]

because I do not want to concatenate the date strings, I would like to add only the values of key "value".

I'm sure this can be done :) but how?

[2019-03-15 18:46] Gmousse commented on #77
Hi @udos,
Indeed it's a bit unusual, the matrix `add` method applying on all columns and all rows.

If you have the same dates in the same order you can do:

[code]

or in the next release (1.4.0 which is out in few days):

[code]
It's a bit tricky thus I will consider an easier way for the next releases.

Tell me if it works.

PS: Feel free to test the next release by pulling the develop branch.

[2019-03-15 18:49] Gmousse commented on #75
Hi @episodeyang,

In understand the need. I will see to implement a solution.

[2019-03-16 14:13] Gmousse opened #78 "Drop rawgit"
We can't use rawgit to deliver dataframejs frontend script because it will close soon.

[2019-03-16 14:34] #78 closed

[2019-03-16 14:35] Gmousse commented on #76
Merged into develop. WIll be released in 1.4.0

[2019-03-16 14:35] #76 closed

[2019-03-16 15:09] Gmousse commented on #74
Released in 1.4.0

[2019-03-16 15:09] #74 closed

[2019-03-16 15:09] #72 closed

[2019-03-16 15:09] Gmousse commented on #62
Released in 1.4.0

[2019-03-16 15:09] #62 closed

[2019-03-18 13:22] udos commented on #77
hi @Gmousse,
as always quick and to the point. both versions work like a charm!
thank you very much,
udo
p.s.: and thanks for the "difficulty:easy" tag :| -> I will focus on more difficult questions :)

related question:
in array1, the `value = null`. currently, it is treated as 0. in my case this is not ok. is there an option to set so if a value is `null`, the result of a calculation would be `n

[2019-03-18 13:56] Gmousse commented on #77
Hi @udos, you r welcome !

Ahah, I just set the difficulty to easy when it's not related (directly) to a code modification.

About your question:
It's not due to my code but it's related to the javascript `+` operator.

Examples:

[code]

To resume, you can replace your null values by NaN if you want this behaviour.

I hope this answer helps.

[2019-03-18 14:01] udos commented on #77
helps a lot! you always help! thanks!

p.s.: big relief regarding

:)

[2019-03-18 14:01] #77 closed

[2019-03-21 21:10] mbkupfer opened #79 "Internet Explorer bug: TypeError("Invalid attempt to spread non-iterable instance")"
I'm receiving a type error when performing a `df.where` lookup (and I also see the same error for `df.show`. This is only on IE, doesn't occur on any other browser.

The error I get in my console is:
[code]
but by stepping into the debugger call stack, I was able to narrow it down to an exception being thrown at: `_nonIterableSpread [Line: 147, Col: 1], dataframe.js`

You can reproduce this error

[2019-03-22 17:32] Gmousse commented on #79
Hi @mbkupfer !

Thank you for reporting the issue.

Which IE version are you using ?

I will try to catch the bug.

[2019-03-22 17:43] Gmousse commented on #79
I am able to reproduce it event on ie 11.
It's probably due to a wrong babel or rollup configuration.

[2019-03-22 19:05] Gmousse commented on #79
I have identified the bug. It's due to the use of spread opertor followed by a generator.
I will fix it asap.

[2019-03-22 19:08] mbkupfer commented on #79
I'm also on IE 11

For what it is worth, I did some introspection of the transpiled Babel code and it appears that `Array.from(iter)` returns the valid array as per the console window, but the conditional above the return is failing.

![image](https://user-images.githubusercontent.com/6313008/54847195-0049f700-4c9b-11e9-8bdf-25b37e1ba1d2.png)

[2019-03-22 20:44] dwoliver commented on #76
Guillaume,

Thanks for your guidance on the use of the filter option.  I am interested
in using the function style option from your first example, but I need to
be able to generate complex filters dynamically and I am not clear about
how to generate the row.get() statements dynamically.  This was one reason
why I decided to use the SQL option, because the WHERE clause is a string
and it was easy t

[2019-03-22 22:20] mbkupfer commented on #79
@Gmousse please check out my PR. I'm not sure if this is an optimal solution in terms of run-time efficiency, but it does fix the error in IE.

[2019-03-23 12:07] Gmousse commented on #79
@mbkupfer Thank you for your PR, I will add few optimizations (in order to make it working with the matrix module) and I will publish an hotfix soon

[2019-03-23 12:51] Gmousse commented on #79
Released in 1.4.1.

Thank you again @mbkupfer for the feedback and the PR.
See you next time :D.

[2019-03-23 12:51] #79 closed

[2019-03-23 12:52] Gmousse commented on #76
@dwoliver Thank you too for the feedback and the bug reporting.

Don't hesitate to send me questions (by email, on twitter or even on issues).

I will try to publish more example about complex usages in order to answer your questions.

[2019-03-23 12:55] Gmousse opened #81 "Add missing community files"
Following https://github.com/Gmousse/dataframe-js/community we have to add:
- A code of conduct
- Issues and PR templates
- Complete the Contributing.md with usecases
- Complete the documentation with examples and complete usecases

[2019-03-23 20:31] mbkupfer commented on #79
@Gmousse  just pulled 1.4.1 and can confirm it is not crashing on IE!  :raised_hands:

Thanks for prompt reply and turn-around on this fix.

P.s I'm still learning javascript coding conventions and it was a joy combing through your source and figuring things out along the way. In addition, it is rather easy to find my way around. That said, it would be nice if you added some documentation for ./re

[2019-03-24 09:39] Gmousse commented on #79
@mbkupfer Hi !

Thank you too for your reporting !

You're welcome to submit any PR in order to improve the library (for bug fixes, performance improvment, and new features)!

Don't worry about reusables.js, I plan to refact (few part of codes such as reusables.js was realized few years ago when I was less pragmatic about coding :D). I also plan add tutorials to make the contribution easier on the

[2019-03-24 17:49] #81 closed

[2019-03-24 17:57] dwoliver commented on #76
Guillaume,

Here is a quick question:
Continuing with my example from previous emails:
Case 1: I need to filter a dataframe column for a specific value
df1.filter( row => row.get("Tot_Travel_Time") = 9458)

Case 2: I need to filter a dataframe column for a range of values
df1.filter( row => row.get("Tot_Travel_Time") >= 8738 &&
row.get("Tot_Travel_Time") <= 11368 )

How can I set up code that will

[2019-03-25 07:24] Gmousse commented on #76
Hi @dwoliver,

I don't know if you are familiar with javascript but you can build it easily by using functions.

Few examples:

[code]

Then you have multiple choices:

[code]

Or:

[code]

That was just few examples, you can do this by many many ways.

Guillaume

[2019-03-25 14:16] dwoliver commented on #76
Guillaume,
Thanks for your response.  Your example does not address my situation,
which I did not explain clearly.  My application takes a table of data and
sets up a dataframe dynamically based on the table which can have any
number of columns.  Then the user is given options to filter the table with
equalities or ranges.  So the method of setting up every condition in
advance is not practical.
I

[2019-03-25 15:07] mbkupfer opened #82 "NPM scripts don't work on windows os"
**Describe the bug**
NPM scripts are not compatible on a windows scripts for two reasons:
1. Use of single quotes
2. Setting of environment variables

These have both been mitigated in my PR that I will submit. That said, I'm not sure if this is a complete fix as `npm run test` keeps failing due to an error with XMLHttpRequest regarding the tests involving `DataFrame.fromXXXX`. The error I get is

[2019-03-25 15:08] mbkupfer commented on #82
#83

[2019-03-25 15:08] mbkupfer commented on #82
#83

[2019-03-25 16:57] Gmousse commented on #82
@mbkupfer That's a good point !

[2019-03-25 17:28] mbkupfer commented on #82
Also just noticed that `rm` and `mkdir` is not supported on windows. There are a couple solutions out there: I found that [shx](https://www.npmjs.com/package/shx) works fine.

[2019-03-25 22:14] Gmousse commented on #76
Hi,

I understand your need.
It's not quite difficult.
One easy way is to create handlers (e.g. dictionnary of functions) which basically translate user interactions into js code.

Here a fast (and minimalist) example about user interactions:

`index.html`
[code]

The idea is:
- A user make interactions
- You trigger handlers for each interactions (in order to translate in predicates)
- You combin

[2019-03-25 23:33] mbkupfer commented on #82
@Gmousse I figured out the final piece to the puzzle! The reason that the XMLHttpRequest error was because the protocol `file://` was not being added for windows paths. Adding the `path.startsWith("C")` to file protocol will finally put this issue to rest :raised_hands:

[2019-03-26 12:10] Gmousse commented on #82
Your PR #83  is now merged on develop.

It will be included in the next release.

[2019-03-26 12:10] #82 closed

[2019-03-27 00:40] ultimumdesign opened #84 "[BUG] The documentation is wrong about toJSON first parameter"
**Describe the bug**
Thank you for your work. This issue is primarily to thank you, but there is one tiny tiny issue at
the toJSON function:
src/dataframe.js:505-513

The inline and official documentation states: @param asCollection default = true
but..
on the function definition it is set to false?

Cheers!

[2019-03-27 07:25] Gmousse commented on #84
Hi @ultimumdesign,

Thank you for your question.

Indeed, that's strange, the documentation is wrong about this default parameter which is = to false for now.

I will find when the regression occured and I will fix it in the next patch.

[2019-03-27 07:28] Gmousse commented on #84
I couldn't find the regression, I guess this documentation error exists since the begin.

[2019-03-27 10:58] dwoliver commented on #76
Guillaume,

Thanks for the detailed example.  I will look it over and try to implement
for my project and then report back.

David

On Mon, Mar 25, 2019 at 6:14 PM Guillaume Mousnier <notifications@github.com>
wrote:

--
David Oliver
Oliver Systems, LLC
366 6th Street, #2
Brooklyn, NY  11215
718 360-8285
oliversystems.net

[2019-03-30 15:02] Gmousse commented on #84
Pushed on develop. It will released soon.

[2019-03-30 15:02] #84 closed

[2019-04-01 01:59] marcosfede opened #85 "[FEATURE] group by arbitrary function"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Can't group by a custom function

**Describe the solution you'd like**
let me pass a function that takes the a row as input and outputs a custom value to group by
eg: `df.groupBy(row => row.name + row.lastname)`

[2019-04-02 17:10] Gmousse commented on #85
Hi @marcosfede,
That's a good idea (and it could be extended to the join function).
I will add it in the roadmap.

[2019-04-26 03:43] mbkupfer opened #86 "[FEATURE] Implicit column for dataframe API"
**Is your feature request related to a problem? Please describe.**
I find it very redundant and unnecessary to repeat typing a column reference for api functions the act on a single column dataframe.

**Describe the solution you'd like**
Implicitly determine the column for functions that are applied to dataframes with only one column. This could be easily be done by checking length of `[...this[__

[2019-05-03 12:47] dneagoy opened #87 "[QUESTION] Load multiple files from CSV?"
**Ask your question**
Hi, I'm new to JavaScript so apologies if this question is obvious.

I'm attempting to load two CSV files to two dataframes within the same promise.  I read through your comments on Issue #50 and that was very helpful.  My question is whether it's possible to load two CSV files in the same promise.  If so, can you provide an example?

I'm including a link and example below of

[2019-05-03 12:50] Gmousse commented on #86
Hi that's a good point.
I will see what could be done !
Thank you for your suggestion

[2019-05-03 13:04] Gmousse commented on #87
Hi !
Thank you for your question.
Don't worry, a lot of users are coming from R or Python.

There is different ways to achieve that point.

Example:

**The best and easier way** with concurrency by using Promise.all:
[code]

Or sequentially with a new promise:

[code]

There is of course other possibilities.

I hope it will help you.

Feel free to close if it resolved.

[2019-05-03 13:13] dneagoy commented on #87
Perfect, that's exactly what I was looking for.  Thanks for your help @Gmousse !

[2019-05-03 13:13] #87 closed

[2019-05-03 18:44] mbkupfer commented on #86
Thank you for the reply @Gmousse !

Since I last posted, I have come up with a more interesting use case: this feature would make introspection of variables a much more pleasant experience
Take the below two examples. One is pandas, other is dataframe-js

[code]

[code]

You see, many of us come from a pandas background so we get confused about the verbosity that we need to use when composing our

[2019-05-04 13:00] Gmousse commented on #86
Yep that's clear.
I m working on a new version on an experimental branch.
I will make some tries.

[2019-06-17 20:53] Wildhammer opened #88 "[FEATURE] add core-js 3 support"
**Is your feature request related to a problem? Please describe.**
If for whatever reason npm resolves core-js to version 3, dataframe-js won't work since babel/polyfill(which now is deprecated) dependency of dataframe uses core-js 2.

**Describe the solution you'd like**
dataframe-js requires a new update with support for core-js 3

**Describe alternatives you've considered**
My current workaroun

[2019-06-19 11:58] Gmousse commented on #88
Hi, thank you for the suggestion.
I will look as soon as possible in order to upgrade dependencies.

[2019-06-19 18:57] mbkupfer commented on #86
@Gmousse, have you made any progress on this? I keep running into situations where this redundancy comes up so it would be a really nice feature to have. If this is an issue about time, then let me know and I'd be happy to submit a PR 😃

[2019-06-22 14:11] Gmousse commented on #86
Hi, sorry I was a bit busy these days.
I must work on the api proposal for this feature.

[2019-06-27 19:50] MythlinMasterdo opened #89 "[QUESTION] Advanced SQL Queries"
**Ask your question**
I am attempting to run a SQL query like this:

`DataFrame.sql.request(SELECT column1, sum(column2) FROM tmp)`

and I get the error:
`Uncaught NoSuchColumnError: sum(column2) not found in [column1, column2, column3].`

**Additional context**
Other SQL queries work but anything with operators like SUM or GROUP BY throw this no such column error, am I doing this wrong or is ther

[2019-07-01 12:48] Gmousse commented on #89
Hi #MythlinMasterdo !

It seems to be a bug.

Indeed, the SQL module is deprecated (I must add warnings in the next release).
I don't have the time to maintain both the core and this part.

I will have a look to solve it, but please consider using the main JS API.

Stay tuned

[2019-07-02 17:53] MythlinMasterdo commented on #89
Thank you @Gmousse depending on my free time I may look into it and open a PR.

[2019-07-04 12:33] anusha5695 opened #90 "[FEATURE] Allow 1 or many (not necessarily all) columns to be renamed at once."
**Is your feature request related to a problem? Please describe.**
When we try to rename 30 columns out of a 1000 column CSV file, we are left with 2 options:

1. we'll have to call df.rename 30 times, one for each column
2. We'll have to loop through the 1000 columns and construct another array of columns renamed and call df.renameAll with the new array

This might also not be readable when i wan

[2019-07-04 12:34] anusha5695 commented on #90
Im willing to raise a PR for this

[2019-07-10 15:00] Gmousse commented on #90
Hi @anusha5695, that's a good idea.

I think that adding a new method could be disturbing.
Instead I plan:
- to deprecate .renameAll
- to deprecate the current usage of .rename
- to integrate your new behaviour on .rename (keeping the current behaviour beside).

Are you working on a PR ?

[2019-07-10 17:51] kbrown commented on #88
We have core-js 3.x in our project.  This breaks dataframe-js unless we declare  "core-js": "^2.5.7" explicitly as a dependency of dataframe-js.

    "dependencies": {
        "@babel/polyfill": "~7.2.5",
        "core-js": "^2.5.7",
        "d3-dsv": "~1.0.10",
        "d3-request": "~1.0.6"
    },

[2019-07-10 19:08] Gmousse commented on #88
Hi @kbrown, I will publish a quick fix this night.

[2019-07-10 19:20] Gmousse commented on #88
@Wildhammer @kbrown Could you have a try with the branch hotfix/1.4.2 and give me feedbacks about the fix ?

Add `"git+https://github.com/Gmousse/dataframe-js.git#hotfix/1.4.2"` in your package.json instead of the current package version

[2019-07-10 19:21] Gmousse commented on #86
Hi @mbkupfer, I m currently working on it, I will submit (in this issue) a proposal about the api.

[2019-07-10 19:29] Wildhammer commented on #88
I don't have an isolate way of testing this in my project(I have other dependencies that use core-js 2 which using the path resolve I've gotten them to work). The dependency in package.json is still core-js 2, how is this version different than 1.4.1?
I did test my code against your branch though, still works(with the path resolving in place).

[2019-07-10 19:33] Gmousse commented on #88
I have just added explicitly the core-js 2 dependency as @kbrown said.
I need more time (tomorrow) in order to test core-js 3 (I don't need to break things for other users).

[2019-07-10 19:42] Gmousse commented on #88
Ok the fix works as expected @kbrown, I have published the fix.
You can now update dataframe-js to the 1.4.2 version.

@Wildhammer I will work on a more stable fix (with core-js 3) tomorrow.

[2019-07-11 14:58] kbrown commented on #88
@Gmousse sorry for the delay in me testing.  Thanks for fixing.

[2019-07-12 15:38] anusha5695 commented on #90
HI @Gmousse : Yes Im working on it already. Will issue a PR by this weekend.

[2019-07-14 05:28] anusha5695 commented on #90
Hi @Gmousse , i have raised the PR.

About the decprecations, i can volunteer for that too.

[2019-07-16 07:09] Gmousse commented on #90
Hi @anusha5695 , thank you for the PR, I will review it asap.
Don't worry about the deprecation, I take it.

[2019-07-19 21:50] MythlinMasterdo opened #92 "[QUESTION] How to set rows?"
**Ask your question**
After following the API and a previously opened issue I am unable to set a row with new data.

**Additional context**
Wrapper class:
[code]

The method `setRow` lives inside of a wrapper class that I have where `this.dataFrame` is my `DataFrame`. When I call `setRow` with for example index 0 I am able to find the correct row and can see that the row has the fields that I am t

[2019-07-23 17:18] MythlinMasterdo commented on #92
Update: Because DataFrames are immutable you have to set `this.dataFrame` to the result of `setRow` and then your new DataFrame will contain your updated value

[2019-07-23 17:18] #92 closed

[2019-07-24 09:13] anusha5695 commented on #90
Hi @Gmousse : Did you get a chance to look at it?

[2019-07-24 20:17] Gmousse commented on #90
Hi sorry I was busy @Gmousse (summer doesn't help :D).

I keep 1 hour tommorow to review your PR.

[2019-07-25 16:01] raz-viber opened #93 "[BUG] installing with pnpm throw exception on runtime"
**Describe the bug**
after installing dataframe-js with pnpm I tried to do:
`require('dataframe-js').DataFrame`
and got:

**To Reproduce**
- mkdir test
- pnpm init
- pnpm install dataframe-js --save
- run node
- require('dataframe-js').DataFrame

**Expected behavior**
to work...

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following

[2019-07-25 16:04] Gmousse commented on #93
Hi @raz-viber,

Thank you for your report.
I m not a pnpm user, let me get few documentation about this and I will find a fix.

[2019-07-25 17:14] Gmousse commented on #93
Hi @raz-viber,
Could you try to test this branch ? `pnpm i git+https://github.com/Gmousse/dataframe-js.git#release/1.4.3`

It seems to work now. Its related to #88 and this babel environment nightmare.

[2019-07-25 17:16] Gmousse commented on #88
Hi @kbrown @Wildhammer

Could you try this branch `git+https://github.com/Gmousse/dataframe-js.git#release/1.4.3` ?

This branch introduces core-js 3 as a dependency, and I need feedbacks.

[2019-07-28 07:27] raz-viber commented on #93
works like a charm!

[2019-07-28 08:07] Gmousse commented on #93
Nice ! I will publish the fix release tommorow

[2019-07-31 04:04] starlingfire opened #94 "[QUESTION] How to reference dataframe after creating it?"
**How do I reference a dataframe after creating it?**
Is it possible to reference a dataframe outside of the promise that created it, and if so, how do I accomplish this?

**Additional context**
My goal is to create a dataframe and populate from a CSV, and then be able to reference it outside of the original promise. Reading https://github.com/Gmousse/dataframe-js/issues/50 pointed me in the right

[2019-07-31 07:10] Gmousse commented on #94
Hi @starlingfire, thank you for using this library.
Your question is not inherent to the library, but it's related to Javascript mechanics. I guess you begin Javascript.

I will answer point by point.

**First**, about the error `ReferenceError: df is not defined`.

That's not related to the asynchronous call itself but it's related to the variable scope.
Indeed, from outside your function you try

[2019-07-31 14:35] starlingfire commented on #94
Thanks for the reply! I'm not actually a complete beginner to JS, though my question does make it seem that way. Your explanations are great, and your example helped me solve the issue I was having.

I modified the code to instantiate a global dataframe "mydf" before creating the promise, and then assigning it the value of "df" inside the promise, and finally referencing it outside the promise aft

[2019-07-31 14:35] #94 closed

[2019-08-09 15:59] kbrown commented on #88
@Gmousse works for me

[2019-08-10 12:39] Gmousse commented on #93
It must be fixed on the new 1.4.3.
Thanks for your patience

[2019-08-10 12:39] #93 closed

[2019-08-10 12:39] Gmousse commented on #88
It's published.
Thank you !

[2019-08-10 12:39] #88 closed

[2019-08-10 12:41] Gmousse commented on #85
After investigating the issue, I don't think that's a good idea in term of data integrity.

[2019-08-13 06:10] chenxinyanc opened #95 "[BUG] Please do not load core-js/promise polyfill in the package"
**Describe the bug**
Please remove the following line
https://github.com/Gmousse/dataframe-js/blob/9d6226a62667b8882276bd190eb520086d57ee2e/lib/io.js#L9

Actually, I don't think it should ever be library's responsibility to set up polyfills. You may require user to install and configure them by themselves.

This package have hard dependency on `core-js/promise` polyfill. When used with Angular, we

[2019-08-13 07:28] Gmousse commented on #95
Hi @chenxinyanc,
Thank you for your report.

JS ecosystem can be an incredible mess sometimes.
I will see to create a temporary workaround (I can't drop core-js just like that, or I will take one thousand issues).
Stay tuned.

[2019-08-18 09:29] iamweilee opened #96 "[BUG]utf8-bom编码引起的第一列无法选择"
node环境中，传入DataFrame.fromCSV的文件是utf8-bom编码的，文件内容如下：
| symbol    | direction | offset    | price     | volume    | time      |
------------------------------------------------------------------------
| IF1304    | 　卖        | 平仓        | 2478.6    | 1         | 11:27:52  |
| IF1304    | 　卖        | 平仓        | 2478.6    | 1         | 11:27:52  |
| IF1304    | 买　        | 开仓        | 2477.2    | 1

[2019-08-18 09:46] iamweilee commented on #96
如果我改成df.select('\uFEFFsymbol', 'direction')，则一切正常。

[2019-08-18 09:47] iamweilee commented on #96
如果我改成df.select('\uFEFFsymbol', 'direction')，则不会报错，由此可见的确是因为bom引起的问题。

[2019-08-18 09:58] iamweilee commented on #96
我修改了 io.js中的代码：
`function fromDSV(pathOrFile) {
  var sep = arguments.length > 1 && arguments[1] !== undefined ? arguments[1] : ";";
  var header = arguments.length > 2 && arguments[2] !== undefined ? arguments[2] : true;
  var parser = (0, _d3Dsv.dsvFormat)(sep);
  return new Promise(function (resolve) {
    var parseText = function parseText(fileContent) {
      **if (fileContent.indexOf('\uFEFF

[2019-08-19 09:35] Gmousse commented on #96
hi @iamweilee !

Thank you for your issue.

Next time, could you use the template and talk in english please ?

Il will have a look at your PR https://github.com/Gmousse/dataframe-js/pull/97.

[2019-08-24 15:23] Berkmann18 commented on #73
I'll be up for that (hopefully sometime this weekend).

[2019-08-30 14:42] davir85 commented on #95
Hi have the same issue. Any update?

[2019-08-31 09:14] Gmousse commented on #95
Sorry  I was in holidays,
I will try to fix it monday.

[2019-09-03 07:59] alonisser opened #98 "[BUG] csv import handling for carriage return in text"
**Describe the bug**
when reading csv files it fails to import rows after a row containing a carriage return in the text
**To Reproduce**
Steps to reproduce the behavior:
1. Create a csv file with 100 + header rows where there is   /r inside the value of cell in row 30
2. read with fromCSV
3. check number of rows on the df
4. see number of rows is 30 (or 31, or 29 not sure)

**Expected behavior**

[2019-10-24 11:20] Irio opened #99 "[FEATURE] Pivot dataframe"
**Is your feature request related to a problem? Please describe.**
Pivoting is a [common task](https://en.wikipedia.org/wiki/Pivot_table) in data processing. It is used when we want to calculate statistics of specific attributes.

From [Pandas' documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html):

![Screen Shot 2019-10-24 at 13 04 20](https://user-ima

[2019-11-07 16:36] mike-incipia commented on #28
@Gmousse, it seems the documentation content for `GroupedDataFrame` at the docs link is not being populated (I see an empty section when I load it). Is it possible that the page location has changed or something like that?

By the way, thank you for the info in this thread about working with `GroupedDataFrames`!

[2019-11-12 13:49] tony-bony opened #100 "[QUESTION] How to replace column values in dataframe-js?"
**Question**
I have recently posted [this question](https://stackoverflow.com/questions/58781905/how-to-replace-column-values-in-dataframe-js/58782807#58782807) on stackoverflow
Could you please confirm this is the right way to do it?

I was thinking there would be an easy way to do it, like: `df1['c2'] = df2.toArray('c2')` ?

**Context**
I am using dataframe-js in JS callback in [Bokeh](https://d

[2019-11-12 17:06] tony-bony commented on #86
Hi, It would be also nice if the `df.drop('column2')` could accept an array of column names instead of a single column name. Can this be included in new release?

[2019-11-23 17:18] Gmousse commented on #95
Sorry for the delay, I wasn't active on github these days.
I m working on a solution.

[2019-11-23 17:19] Gmousse commented on #98
Hi, sorry for the delay, I wasn't active these days.
I will look.

[2019-11-23 17:23] Gmousse opened #101 "[BUG] The GroupedDataFrame documentation bug"
**Describe the bug**
The GroupedDataFrame documentation isn't visible.

**To Reproduce**
Steps to reproduce the behavior:
Go to https://gmousse.gitbooks.io/dataframe-js/content/doc/api/groupedDataframe.html

**Expected behavior**
It should work.

[2019-11-23 17:33] Gmousse commented on #99
Hi @Irio, Thank you for your sugesstion.
Sorry for the delay, I wasn't active these days.

Have you look the GroupedDataFrame `.pivot` method (https://github.com/Gmousse/dataframe-js/blob/develop/src/group.js#L156) ?
It should works similarly.

[2019-11-23 17:45] Gmousse commented on #100
Hi @tony-bony, sorry for the delay, I wasn't active these days.

The dataframe-js DataFrame is not subscriptable (like pandas). It uses an api similar to Spark, with functionnal programming patterns.

But it's a limitation, I will add an easier way for people coming from pandas and other languages.

[2019-12-08 10:51] Zuckerbrot opened #102 "[QUESTION] How to modify large dataframe >inplace<"
Hi,
firstly thanks for this great library.
I am wondering if there is a way to modify rows inplace.
Each time using
 df.setRow(1, row => row.set("y", 33))
to set column "y" in row 1 to value 33
a new dataframe object is created.

Is there a way to avoid this and directly modify the existing object?

Thanks!

[2019-12-16 10:23] Irio commented on #99
Hi @Gmousse,

Yes, I have look at them, but they don't seem to cover all the cases I needed and Pandas supports. There's always the chance they are too specific, so in this case, let me know and we can close this issue.

My major pain-point was doing operations with multiple attributes, either in index, columns, or the attribute to aggregate on.

Here are all the cases I implemented using datafram

[2020-02-03 15:40] yehosef commented on #101
it's over here
 https://github.com/Gmousse/dataframe-js/blob/feature/column/doc/api/groupedDataframe.md
It'd be great if it was in the gitdoc

[2020-04-06 03:03] dhorvay opened #104 "[BUG] Minor documentation issues for API references"
**Describe the bug**
The API references in documentation are pointing to wrong hyperlink, which results in error to see exact lines of code that is referred.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://gmousse.gitbooks.io/dataframe-js/content/doc/api/dataframe.html#dataframe](https://gmousse.gitbooks.io/dataframe-js/content/doc/api/dataframe.html#dataframe)
2. Click on [sr

[2020-04-06 03:04] dhorvay commented on #104
Easy fix. Will make PR when #101 is closed.

[2020-04-06 09:02] blockems opened #105 "[BUG]"
**Describe the bug**
Error loading json files on pc's when using fromJSON and a file.
On a PC, and __dirname (as well as process.cwd()) returns a lowercase drive location (eg "c:\home\myproj") which fails file io check routine in ./dataframe-js/lib/io.js.

had to add lowercase "c" to the function (see below).

On a related note; does that mean the function will fail unless it's one "c" drive for a

[2020-04-07 05:18] jahnavi9299p commented on #50
Hello,
I am beginner to JS and yet am being ambitious to deal with datafraem-js. However I have experience in python datframes.
I have followed the example on github which worked perfectly fine for me.
However I have problem open my own dataframe ....

const DataFrame = require("dataframe-js").DataFrame;
DataFrame.fromCSV(
    "Sample.csv"
)
    .then(df => {
        // Let's go to display quicly

[2020-04-11 12:39] #100 closed

[2020-04-11 12:42] #101 closed

[2020-04-11 12:45] Gmousse commented on #104
Thank you @dhorvay  !
Your PR is welcome (#101 is closed on develop).

[2020-04-11 12:49] Gmousse commented on #102
Hi @Zuckerbrot,
Indeed, the current usage doesn't allow direct mutation or property modification.
I must look if it's possible to implement it easily.

[2020-04-11 12:50] Gmousse commented on #105
Hi thank you for your report.

I will look to fix this.

[2020-04-11 13:21] Gmousse commented on #102
Hi again,

I have added a new method DataFrame.setRowInPlace (with the same usage) mutating directly the existing DataFrame on the develop branch (you can switch on it to test).

I will look to add other usage like this.

[2020-04-11 13:47] Gmousse commented on #105
Hi @blockems, sorry for the bug, the implementation was...really bad.

It should be better. You can test it on the development branch hotfix/1.4.4

Tell me.

[2020-04-11 14:01] Gmousse commented on #104
@dhorvay The error seems related to the library used to build the documentation https://github.com/documentationjs/documentation/issues/1295

I will update it and publish it on the hotfix 1.4.4 (no need of a PR here)

Thanks !

[2020-04-11 14:08] #104 closed

[2020-04-11 14:14] #96 closed

[2020-04-11 14:15] #34 closed

[2020-04-11 14:15] Gmousse commented on #35
Closes due to inactivity

[2020-04-11 14:15] #35 closed

[2020-04-11 14:15] Gmousse commented on #36
Closed due to inactivity

[2020-04-11 14:15] #36 closed

[2020-04-11 14:15] Gmousse commented on #60
Closed due to inactivity

[2020-04-11 14:15] #60 closed

[2020-04-11 14:17] Gmousse commented on #75
Closed due to inactivity. We will repoen it if necessary.

[2020-04-11 14:17] #75 closed

[2020-04-11 14:17] Gmousse commented on #85
Closed due to inactivity. We will repoen it if necessary.

[2020-04-11 14:17] #85 closed

[2020-04-11 14:18] Gmousse commented on #89
Closed due to inactivity. We will repoen it if necessary.

[2020-04-11 14:18] #89 closed

[2020-04-24 12:52] hajola commented on #73
What's the status on supporting TypeScript?

[2020-05-05 20:58] olgacarpenter opened #107 "[QUESTION] Is there a way to add multiple aggregations to grouped dataframe?"
Is there a way to add multiple aggregations to grouped dataframe?
I would like to group the data and aggregate two different columns.

[2020-06-05 09:15] florianpe opened #108 "[BUG] leftjoin() takes forever"
leftjoin() takes forever (14 seconds) to perform a leftjoin() on two dataframes of dimensions [15343, 6] and [1123, 5] while it takes milliseconds in R.

I just installed the library so I am running the latest version.

[2020-06-17 21:41] gagecarto opened #110 "How to update column x at row where column y = z[QUESTION]"
**Ask your question**
I am having a hard time figuring out how to update a particular cell value by first selecting a row.

Let's say I have a dataframe with columns x,y & z

I'd like to update column x to a value of 999 at the row where column y == 5

I know I can select the appropriate row by doing
df.filter(row => row.get('y') === 5)

I tried chaining this to a set call but was obviously first

[2020-06-17 22:44] gagecarto commented on #110
I was able to figure this out using a combination of prerolled row indices and set row function.. It worked like this

[code]

[2020-06-17 22:44] #110 closed

[2020-06-29 19:45] TotallyInformation opened #111 "[BUG] Read CSV - Long filename not found on Windows 10"
**Describe the bug**
Trying to read a CSV file from node.js, produces an error:

[code]

Also tried with double back-slashes. File certainly exists in that location and was easily read as a file.

![image](https://user-images.githubusercontent.com/1591850/86048754-f2ac2100-ba48-11ea-97f5-966f34c84885.png)

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
File should

[2020-08-11 08:44] lobanov commented on #107
There is no API for this, but I found you could achieve this with a bit extra work in exactly the same way `aggregate(...)` function works internally:

[code]

[2020-09-27 14:37] ThatIsAPseudo opened #112 "[FEATURE] Merge dataframes with different columns"
**Is your feature request related to a problem? Please describe.**
I'd like to merge DataFrames with different columns.

**Describe the solution you'd like**
I'd like to have a `df1.merge(df2)` way to automatically merge two dataframes, even if a column is in df1 but not in df2, filling it with

**Describe alternatives you've considered**
Here is a snippet from @lmeyerov I found (and completed) on

[2020-09-27 15:01] ThatIsAPseudo commented on #112
A better implementation of the `unionDFs` snippet :
[code]

[2020-10-03 22:17] ThatIsAPseudo opened #113 "[BUG] Typo in the documentation"
**Describe the bug**
I think there is a typo in the docs, where `dim` is described.
Isn't it "width" ("largeur" in French) instead of "weight" ("poids" in French) ?

**To Reproduce**
Go to https://gmousse.gitbooks.io/dataframe-js/content/doc/api/dataframe.html#dim

[2020-10-07 14:04] antoniopol06 opened #114 "How can I pass DataFrame object to worker ?"
How can I pass DataFrame object to worker ?

I am trying to do that but I receive the following error:

`DOMException: Failed to execute 'postMessage' on 'Worker': function Stat(df) {
    _classCallCheck(this, Stat);

    this.df = df;
    this.name = "stat";
  } could not be cloned.`

[2020-10-21 17:04] am2222 opened #115 "[QUESTION] Pivoting a table"
**Ask your question**
Hello, Supposed we have a following table
place|time|key|value
A | t1 |test| 01
A | t2 |test| 02
A | t3 |test| 03
B | t1 |test| 04
C | t2 |test| 05
D | t3 |test| 06
A | t1 |test1| 07
A | t2 |test1| 08
A | t3 |test1| 08
B | t1 |test1| 09
C | t2 |test1| 10
D | t3 |test1| 11

Is there any way to pivot this structure into this form?
place|time|test1|test2
A | t1 | 01|07
A | t2 |

[2020-10-21 17:06] am2222 commented on #115
Maybe this method?
https://github.com/Gmousse/dataframe-js/issues/99

[2020-10-25 09:24] Gmousse commented on #114
Hi,
In order to pass a DataFrame on a Worker or WorkerThread you have to serialize it before sending it and deserialize it on the dedicated Worker.

It's the case for all complex js objects.

[2020-10-25 09:39] Gmousse commented on #113
Hi !

Thanks for the report.

It's fixed in 1.4.4

[2020-10-25 09:39] #113 closed

[2020-10-25 09:41] Gmousse commented on #105
Delivered in 1.4.4

[2020-10-25 09:41] #105 closed

[2020-11-09 14:33] dmondev opened #116 "[BUG] - GroupedDataframe documentation is blank"
**Describe the bug**
The documentation page for GroupedDataframe is blank.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://gmousse.gitbooks.io/dataframe-js/content/doc/api/groupedDataframe.html'
2. See blank page

**Expected behavior**
There should be some documentation for groupedDataframe.

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Browser

[2020-11-23 18:38] EllieLockhart commented on #111
Also having this issue on Linux (Ubuntu 20.04, have used absolute URLs, checked and double checked.)

[2020-12-06 22:39] techieshark opened #117 "[BUG] fromCSV fails when there is a space in the path"
**Describe the bug**

It seems that `fromCSV`, when passed a file path to open, will fail if there is a space in the file's path (e.g. if instead of /home/me/dir/file.csv you use /home/me/dir with space/file.csv).

**To Reproduce**
Steps to reproduce the behavior:
1. call `fromCSV()`, passing in a path that contains a space

**Expected behavior**
The CSV should open.

**Screenshots**

**Desktop (p

[2020-12-07 14:18] lachisis commented on #112
This bug can be particularly insidious - if one dataframe's columns are a subset of another's, the behavior is inconsistent.
* If you concatenate the df with fewer columns to the one with all columns, the union will execute without issue.
* If you concatenate the df with all columns to the one with fewer, then it will fail.

This error is due to the use of an incorrect column comparison. It is sti

[2020-12-13 16:14] forhonourlx opened #118 "[BUG] TypeError: Cannot read property 'toStringTag' of undefined"
Hi,

**To Reproduce**
Steps to reproduce the behavior:
When I was trying to `import DataFrame from "./dataframe.min.js"`
Caught:
[code]

**Desktop (please complete the following information):**
 - OS: [e.g. Windows10]

Could somebody give me a helping hand?
Thanks in advance.

[2020-12-13 16:20] forhonourlx commented on #118
@GuillaumeAmat

[2020-12-20 01:36] forhonourlx commented on #118
[code]

[2020-12-20 09:07] Gmousse commented on #118
Hi !

Could you describe me what's the dataframe.min.js file ? What's your usage (nodejs, in the browser directly) ?

If it's the browser minified bundle, it's not designed to be import like that. It's designed to be used directly in the browser.

I think it could be related with your issue.

[2020-12-31 22:06] feiyu-london opened #119 "has the csv file been loaded successfully?"
Hi, Many thanks for this package. It offers many key features for handling data frame. I have tested the following to test dataframe-js.

---------------------------
const DataFrame = require('dataframe-js').DataFrame;

var ea_entries = [];
var ea_header = [];
var ea = new DataFrame(ea_entries, ea_header);
DataFrame.fromCSV('/Users/feiyu/Documents/JS/eatest.csv').then(ea => ea.show());

console.lo

[2021-01-01 00:21] feiyu-london commented on #119
Hi, I think I have solved the problem myself by reading into #50.

The comment in #50, i.e. 'However you can access your DataFrame in a .then:', is a great solution. I basically need to write all related operations inside .then though it is a bit long. I have tested .toCSV and it has been successful! Many thanks. :)

[2021-01-01 16:43] feiyu-london commented on #87
I also read issue #50 and find it quite helpful.

Then I come to the same issue as above. My work requires pulling in a few different tables and put them together after some operations.

My solution is not as sophisticated as above. I simply nest a few .fromCVS to get around the issue.

.fromCSV(csv no.1) {to df1;
    .fromCSV(csv no.2) {to df2;
        .fromCSV(csv no.3) {to df3;
            [ope

[2021-01-01 17:08] #119 closed, assigned to nobody

[2021-01-02 08:47] feiyu-london opened #120 ".push does not seem to work"
Hi, I am trying to test a few examples in the API to understand better how dataframe-js works. However, after .push a couple of arrays into df, console.log (df.count()) shows that the result is 0. Have I missed out anything obvious? Many thanks. Regards, Fei
---------------------------------
const DataFrame = require('dataframe-js').DataFrame;

var h = ['a','b','c'];
var d = [];

var df = new Data

[2021-01-03 10:22] feiyu-london commented on #120
I have tested a few times and found the following.

1. this does not work - df.show() still shows the df before a new array is added;
df.push (new array);
df.show();

2. but df.push (new array).show() can show / display the df after a new array is added; but

3. df.push (new array).show(); df.show(); then df.show() can only show / display the df before a new array is added.

Thought: is this the s

[2021-01-03 11:30] feiyu-london commented on #120
df = df.push([1,2,3],[4,5,6]);
df.show();
this should work.

[2021-01-03 11:30] #120 closed, assigned to nobody

[2021-01-03 12:28] feiyu-london opened #121 "add index to the DataFrame"
Sometimes I would need to assign an index to both existing dataframe and new dataframe (most likely 1:n series), so that these two dataframes can be joined together.

Also the existing dataframe might be updated through operations, so a new index might be required so that the updated dataframe can be properly searched and referenced.

In both cases, being able to add a new index (e.g. a series of

[2021-01-03 19:56] feiyu-london opened #122 "keep date as a type of data in DataFrame-js"
it seems to me that the data types in dataframe-js are two kinds, i.e. number and string.

Though I agree that many date related functions can be supplemented by functions under javascript, but from a data dealing perspective date type is a quite important and useful feature.

Converting everything to milisecond can solve the problem in terms of process, but it can be quite difficult for people to

[2021-01-05 11:05] adapptative commented on #107
If somebody is wondering how to get this "groups" variable, I was able to get it by doing that:

[code]

[2021-03-10 10:24] romainhild commented on #107
How would I do that from client-side ? I can't get the groups or `__groups__` variable.

[2021-03-15 17:30] earlmedina opened #123 "[BUG] Inconsistent left join results"
**Describe the bug**
I've been working on porting some logic from pandas to dataframe-js and came across an inconsistency in left joins (I suspect the problem may be seen in right joins as well). I am finding that dataframe-js does not produce consistent left joins, sometimes introducing duplicates that should not be in the join result. In my case, the duplication inserts approximately 50 duplicat

[2021-03-15 19:34] RafaelQuirino opened #124 "[QUESTION] Why does the aggregate function drops all columns ?"
**Aggregation dropping columns**
I am trying to understand this GroupedDataFrame, its doc is empty.
Why when i do a groupBy and then an aggregation all other columns besides the ones given to the groupBy function
gets dropped ? I want to perform aggregations and keep all the columns in the dataframe i called groupBy.
Is it possible ?

[2021-04-21 19:00] itstillon opened #125 "[BUG] Dataframe loaded from file doesn't identify missing values"
**Describe the bug**
When data is loaded from a file locally, DataFrame treats all values as string types (_empty string_) due to which "missing values" are not differentiated/tracked, due to which `fillMissingValues()` doesn't work as expected.

However, this works when the DataFrame is prepared on the fly (_using new DataFrame(...)_)

**To Reproduce**
Steps to reproduce the behavior:
1. Copy the

[2021-04-23 16:51] isaac-eiter opened #126 "[BUG] Creating new DataFrame from array with duplicate column names"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create data array with random values, eg: [[1,2,3] , [4,5,6]]
2. Create column array with duplicates, eg: ["Column1" , "Column2" , "Column1"]
3. Create new DataFrame object
4. The values in the DataFrame will be: [["Column1" , "Column2"] , [3,2] , [6,5]]

**Expected behavi

[2021-08-01 03:48] hhaze opened #128 "[BUG] Typo in the documentation"
**Describe the bug**
There are some typos in documentation. It is a very small problem.
Please refer below list.

---
- dictionnaries → dictionaries
    - Go to https://gmousse.gitbooks.io/dataframe-js/content/doc/api/dataframe.html#tocollection
      ![image](https://user-images.githubusercontent.com/10482833/127758214-b107480d-ae0f-44c0-87a7-563ba6f09df1.png)

- sring -> string
  - Go to https:/

[2021-08-24 01:24] joeflack4 commented on #117
I can corroborate this. Here's my example.

1. Showing my files in Finder
<img width="850" alt="Screen Shot 2021-08-23 at 9 17 59 PM" src="https://user-images.githubusercontent.com/13045020/130540176-8f593930-116d-4195-8a6f-07205e18b640.png">

2. I copied "Fixed Broadband Subscription.csv" and renamed it "1.csv". Reading it works.
<img width="1029" alt="Screen Shot 2021-08-23 at 9 18 14 PM" src="h

[2021-10-13 10:08] ecolangelo commented on #124
I think the problem is that if you groupBy a specific column, there's no way you can tell which value the other columns must have unless we change the aggregate API.
I have a same problem, imagine a dataframe like
|name| height | weight| age|

and you do df.groupBy('name').aggregate(group=>group.stat.sum('age'))
what would you do with height and weight? a sum? a mean?

[2021-10-13 13:07] RafaelQuirino commented on #124
I was quite confused at the time i made this rather stupid question. I apologize...

[2021-10-13 13:07] #124 closed, assigned to nobody

[2021-12-10 22:38] stereophonik opened #130 "[FEATURE] - To be able to filter a DataFrame from a MongoDB JSON export by Object ID"
**Is your feature request related to a problem? Please describe.**
I'm unable to filter a DataFrame from a MongoDB JSON export by Object ID

**Describe the solution you'd like**
To be able to filter a DataFrame from a MongoDB JSON export by Object ID
Ex.
`df.filter(row => row.get('_id') === {"$oid":"<object_id>"})`

[2022-01-17 01:35] alzemiro-iago commented on #73
I'm submitting the project's typing to DefinitelyTyped. The comment above is the PR.

[2022-01-21 15:36] alzemiro-iago commented on #73
https://www.npmjs.com/package/@types/dataframe-js

[2022-05-12 12:39] andreyshedko opened #131 "[BUG] Filtering is not working as expected"
**Describe the bug**
Filtering is not working as expected - sometimes it produces proper results, some time is not.
For example, using this function (or any other comparison operator) in the filtering leads to unpredictable results:
[code]
In the other place, we are using a filter with our custom function.
[code]
Results:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create the data

[2022-05-20 07:41] Gmousse commented on #131
Hello !

I can't reproduce your issue. I wrote this little script:

[code]

which gives me a coherent result:

[code]

[2022-07-17 12:15] #130 closed, assigned to nobody

[2022-07-30 13:25] SankalpM-29 opened #132 "Documentation not available[BUG]"
**Describe the bug**
No documentation available for GroupedDataFrame in API Reference

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://gmousse.gitbooks.io/dataframe-js/content/doc/api/groupedDataframe.html](https://gmousse.gitbooks.io/dataframe-js/content/doc/api/groupedDataframe.html)

**Expected behavior**
Get some documentation regarding GroupedDataFrame object.

**Screensho

[2022-08-11 06:33] StickyBeanBun opened #133 "[BUG]"
df.withColumn('ColumnA', ()=> 2);
ColumnA returns undifined.

[2022-08-17 13:58] irohitb opened #134 "[BUG] DataFrame is not a constructor"
## Bug.

I am doing this
[code]

but this keeps throwing error that DataFrame is not a constructor

[2022-09-02 15:19] Gmousse commented on #134
Hi,
Indeed, the default export seems not working well.

It seems working when not importing the default.

Workaround in esm:

[code]

or in cjs:

[code]

[2022-09-02 15:20] irohitb commented on #134
@Gmousse Thanks, I was able to make it work using the workaround.

[2022-10-11 20:57] taxhelper commented on #105
Hey @Gmousse ,

Thanks for this library.

Unfortunately, I'm still getting the same issue with this file path on windows.

A windows path like `C:/myfolder/file.csv` isn't coming through as a valid path as it doesn't have a `file://` prefix a `Protocol not supported` error is thrown.

I've had to update my own code to identity windows os and prefix the `file://` myself, before passing to DataFrame

[2022-11-24 06:49] ajdaling opened #135 "[BUG] Definitions for filter and where functions missing boolean option"
Typings for filter and where functions are missing boolean option for condition. Using these functions as described in the documentation:

`df.filter(row => row.get('column1') >= 3)`

 throws the following TS error: `Type 'boolean' is not assignable to type 'DataFrame | Record<string, any>'.ts(2322)`

Function definitions need to be updated to:
` where(condition: (row: any) => DataFrame | Record<s